<template>
	<div class="section section-pagination">
		<div class="container">
			<div class="textHeadBorderMiddleNew">
				<span>Category Dataset</span>
			</div>
			<!-- Row1 -->
			<div class="row">
				<!-- Astronomy -->
				<div class="col-6 col-md-3">
					<router-link :to="{ name: 'alldataset', query: { id: 1 } }">
						<tabs
							pills
							class="nav-align-center"
							tab-nav-classes="nav-pills-just-icons"
							type="primary"
						>
							<tab-pane>
								<img
									slot="label"
									src="catagory/png/astronomy.png"
									alt="https://www.flaticon.com/free-icons/astronomy Astronomy icons created by Good Ware - Flaticon"
								/>
							</tab-pane>
							<p class="text-center">Astronomy</p>
						</tabs>
					</router-link>
				</div>
				<!-- Biology -->
				<div class="col-6 col-md-3">
					<router-link :to="{ name: 'alldataset', query: { id: 2 } }">
						<tabs
							pills
							class="nav-align-center"
							tab-nav-classes="nav-pills-just-icons"
							type="primary"
						>
							<tab-pane>
								<img
									slot="label"
									src="catagory/png/biology.png"
									alt="https://www.flaticon.com/free-icons/dna Dna icons created by Freepik - Flaticon"
								/>
							</tab-pane>
							<p class="text-center">Biology</p>
						</tabs>
					</router-link>
				</div>
				<!-- Chemistry -->
				<div class="col-6 col-md-3">
					<router-link :to="{ name: 'alldataset', query: { id: 3 } }">
						<tabs
							pills
							class="nav-align-center"
							tab-nav-classes="nav-pills-just-icons"
							type="primary"
						>
							<tab-pane>
								<img
									slot="label"
									src="catagory/png/chemistry.png"
									alt="https://www.flaticon.com/free-icons/chemistry Chemistry icons created by Freepik - Flaticon"
								/>
							</tab-pane>
							<p class="text-center">Chemistry</p>
						</tabs>
					</router-link>
				</div>
				<!-- Climate -->
				<div class="col-6 col-md-3">
					<router-link :to="{ name: 'alldataset', query: { id: 4 } }">
						<tabs
							pills
							class="nav-align-center"
							tab-nav-classes="nav-pills-just-icons"
							type="primary"
						>
							<tab-pane>
								<img
									slot="label"
									src="catagory/png/climate.png"
									alt="https://www.flaticon.com/free-icons/climate Climate icons created by Freepik - Flaticon"
								/>
							</tab-pane>
							<p class="text-center">Climate</p>
						</tabs>
					</router-link>
				</div>
			</div>
			<!-- Row2 -->
			<div class="row">
				<!-- Computer Science -->
				<div class="col-6 col-md-3">
					<router-link :to="{ name: 'alldataset', query: { id: 5 } }">
						<tabs
							pills
							class="nav-align-center"
							tab-nav-classes="nav-pills-just-icons"
							type="primary"
						>
							<tab-pane>
								<img
									slot="label"
									src="catagory/png/computer.png"
									alt="https://www.flaticon.com/free-icons/programming Programming icons created by Freepik - Flaticon"
								/>
							</tab-pane>
							<p class="text-center">Computer Science</p>
						</tabs>
					</router-link>
				</div>
				<!-- Economic -->
				<div class="col-6 col-md-3">
					<router-link :to="{ name: 'alldataset', query: { id: 6 } }">
						<tabs
							pills
							class="nav-align-center"
							tab-nav-classes="nav-pills-just-icons"
							type="primary"
						>
							<tab-pane>
								<img
									slot="label"
									src="catagory/png/economic.png"
									alt="https://www.flaticon.com/free-icons/economic Economic icons created by Vitaly Gorbachev - Flaticon"
								/>
							</tab-pane>
							<p class="text-center">Economic</p>
						</tabs>
					</router-link>
				</div>
				<!-- Engineering -->
				<div class="col-6 col-md-3">
					<router-link :to="{ name: 'alldataset', query: { id: 7 } }">
						<tabs
							pills
							class="nav-align-center"
							tab-nav-classes="nav-pills-just-icons"
							type="primary"
						>
							<tab-pane>
								<img
									slot="label"
									src="catagory/png/engineering.png"
									alt="https://www.flaticon.com/free-icons/egineering Engineering icons created by Freepik - Flaticon"
								/>
							</tab-pane>
							<p class="text-center">Engineering</p>
						</tabs>
					</router-link>
				</div>
				<!-- Geographical -->
				<div class="col-6 col-md-3">
					<router-link :to="{ name: 'alldataset', query: { id: 8 } }">
						<tabs
							pills
							class="nav-align-center"
							tab-nav-classes="nav-pills-just-icons"
							type="primary"
						>
							<tab-pane>
								<img
									slot="label"
									src="catagory/png/geographical.png"
									alt="https://www.flaticon.com/free-icons/geographic Geographic icons created by Smashicons - Flaticon"
								/>
							</tab-pane>
							<p class="text-center">Geographical</p>
						</tabs>
					</router-link>
				</div>
			</div>
			<!-- Row3 -->
			<div class="row">
				<!-- Materiaals Science -->
				<div class="col-6 col-md-3">
					<router-link :to="{ name: 'alldataset', query: { id: 9 } }">
						<tabs
							pills
							class="nav-align-center"
							tab-nav-classes="nav-pills-just-icons"
							type="primary"
						>
							<tab-pane>
								<img
									slot="label"
									src="catagory/png/materials-science.png"
									alt="https://icon-icons.com/icon/materials-science/39018 Materials, science Icon created by Lorc, Delapouite & contributors"
								/>
							</tab-pane>
							<p class="text-center">Material Science</p>
						</tabs>
					</router-link>
				</div>
				<!-- Medical -->
				<div class="col-6 col-md-3">
					<router-link :to="{ name: 'alldataset', query: { id: 10 } }">
						<tabs
							pills
							class="nav-align-center"
							tab-nav-classes="nav-pills-just-icons"
							type="primary"
						>
							<tab-pane>
								<img
									slot="label"
									src="catagory/png/medical.png"
									alt="https://www.flaticon.com/free-icons/medical Medical icons created by Good Ware - Flaticon"
								/>
							</tab-pane>
							<p class="text-center">Medical</p>
						</tabs>
					</router-link>
				</div>
				<!-- Physics -->
				<div class="col-6 col-md-3">
					<router-link :to="{ name: 'alldataset', query: { id: 11 } }">
						<tabs
							pills
							class="nav-align-center"
							tab-nav-classes="nav-pills-just-icons"
							type="primary"
						>
							<tab-pane>
								<img
									slot="label"
									src="catagory/png/physic.png"
									alt="https://www.flaticon.com/free-icons/atom Atom icons created by Good Ware - Flaticon"
								/>
							</tab-pane>
							<p class="text-center">Physics</p>
						</tabs>
					</router-link>
				</div>
				<!-- Other -->
				<div class="col-6 col-md-3">
					<router-link :to="{ name: 'alldataset', query: { id: 12 } }">
						<tabs
							pills
							class="nav-align-center"
							tab-nav-classes="nav-pills-just-icons"
							type="primary"
						>
							<tab-pane>
								<img
									class="otherImg"
									slot="label"
									src="catagory/png/other.png"
									alt="https://www.flaticon.com/free-icons/others Other incos created by Rahul Kaklotar - Flaticon"
								/>
							</tab-pane>
							<p class="text-center">Other</p>
						</tabs>
					</router-link>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import { Progress, Pagination, Tabs, TabPane } from "@/components";

	export default {
		components: {
			[Progress.name]: Progress,
			[Pagination.name]: Pagination,
			Tabs,
			TabPane
		},

		data() {
			return {
				pagination: {
					simple: 1,
					default: 2,
					full: 3
				}
			};
		}
	};
</script>
<style scoped>
	p {
		font-weight: bold;
	}
	a {
		color: #000;
	}
	a:hover {
		text-decoration: none;
		color: #f96332;
	}
	.otherImg {
		padding-top: 10px;
		width: 100px;
	}
</style>
