<template>
	<div
		class="section newarrival"
		style="
			background-image: url('img/bg11.png');
			background-size: cover;
			background-position: top center;
			min-height: 700px;
		"
	>
		<div class="container">
			<div class="textHeadBorderMiddleNew fontresponse">
				<span>New Arrival Dataset</span>
			</div>
			<div class="row">
				<div class="col text-center" v-if="newdataset.length == 0">
					<h2>No Data !!</h2>
				</div>
				<div
					class="newcard col-10 col-sm-4"
					v-for="(data, i) in newdataset.slice(0, 3)"
					:key="i"
				>
					<router-link
						:to="{
							name: 'datadetail',
							query: { id: data.researchNumber }
						}"
					>
						<el-card class="box-card">
							<!-- Title -->
							<div slot="header" class="titlecard text-center">
								<span>{{ data.categoryName }}</span>
							</div>
							<!-- Data name & Download -->
							<div class="row">
								<div class="card-name col-8">
									<span>{{ data.researchName }}</span>
								</div>
								<div class="col-4 text-right carddownload">
									<b-icon icon="download"></b-icon>
									<span> {{ data.downloadCount }}</span>
								</div>
							</div>
							<!-- Description -->
							<div class="row">
								<div class="card-desc col-12">
									<span>{{ data.description }}</span>
								</div>
							</div>
							<!-- File Type -->
							<div class="row">
								<div class="card-filetype col-12 text-right">
									<template v-if="data.fileType.includes('link')">
										<p v-for="(link, j) in data.fileDirectory" :key="j">
											{{ link | removeSlash }}
										</p>
									</template>
									<img
										v-else
										v-for="(pictype, i) in data.fileType"
										:key="i"
										class="cardimg"
										slot="label"
										:src="'catagory/png/' + pictype + '.png'"
										alt="data file type"
									/>
								</div>
							</div>
							<!-- Edit Date -->
							<div class="row">
								<div class="card-editdate col-12 text-center">
									<span>ปรับปรุงล่าสุด: {{ data.updated_at }}</span>
								</div>
							</div>
						</el-card>
					</router-link>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import axios from "axios";

	export default {
		data() {
			return { newdataset: "" };
		},
		created() {
			axios
				.get("http://10.110.0.216:3000/api/research/all-research")
				.then((response) => {
					this.newdataset = response.data.data;
				});
		},
		filters: {
			removeSlash(linkname) {
				linkname = linkname.replace(/\\\//g, "/");
				return linkname;
			}
		}
	};
</script>
<style scoped>
	@media screen and (max-width: 819px) {
		.fontresponse {
			font-size: 32px;
		}
	}
	.newcard {
		float: none;
		margin: 0 auto;
		margin-bottom: 15px;
	}
	.box-card {
		height: 25em;
	}
	.titlecard span {
		font-size: 2em;
		font-weight: bold;
	}
	.box-card:hover {
		-ms-transform: scale(1.05); /* IE 9 */
		-webkit-transform: scale(1.05); /* Safari 3-8 */
		transform: scale(1.05);
	}
	.card-name {
		margin-bottom: 20px;
		height: 40px;
	}
	.card-name span {
		font-size: 16px;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	.card-desc {
		color: Silver;
		height: 120px;
	}
	.card-desc span {
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 5;
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
	}
	.card-filetype {
		bottom: 5px;
	}
	.card-filetype p {
		font-size: 12px;
		color: grey;
		margin-bottom: 0;
		float: right;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100%;
	}
	.card-editdate {
		margin: 10px;
		position: absolute;
		bottom: 0;
		left: 0;
	}
	a:hover {
		text-decoration: none;
		color: #f96332;
	}
</style>
