<template>
	<div>
		<div class="block">
			<el-cascader
				v-model="value"
				placeholder="Select Organization"
				:options="options"
				:show-all-levels="false"
				@change="handleChange"
			></el-cascader>
		</div>
	</div>
</template>

<script>
	import axios from "axios";
	export default {
		data() {
			return {
				org: "",
				faculty: "",
				college: "",
				organization: [],
				institution: "",
				isDropdown2Visible: false,
				value: "",
				options: [
					{
						value: "all-research",
						label: "All Dataset"
					},
					{
						value: "คณะ",
						label: "คณะ",
						children: []
					},
					{
						value: "วิทยาลัย",
						label: "วิทยาลัย",
						children: []
					},
					{
						value: "สถาบัน/สำนัก",
						label: "สถาบัน/สำนัก",
						children: []
					}
				]
			};
		},
		mounted: function () {
			this.$root.$on("bv::dropdown::show", (bvEvent) => {
				if (bvEvent.componentId === "dropdown-2") {
					this.isDropdown2Visible = true;
				}
			});
			this.$root.$on("bv::dropdown::hide", (bvEvent) => {
				if (bvEvent.componentId === "dropdown-2") {
					this.isDropdown2Visible = false;
				}
				if (this.isDropdown2Visible) {
					bvEvent.preventDefault();
				}
			});
		},
		created() {
			axios
				.get("http://10.110.0.216:3000/api/organization/all-name")
				.then((response) => {
					this.org = response.data.data;
					this.faculty = this.org.slice(0, 21);
					this.college = this.org.slice(21, 26);
					this.institution = this.org.slice(26, 45);
					for (let i in this.faculty) {
						let item = this.faculty[i];
						this.options[1].children.push({
							value: item.organizationNumber,
							label: item.organizationName
						});
					}
					for (let j in this.college) {
						let item = this.college[j];
						this.options[2].children.push({
							value: item.organizationNumber,
							label: item.organizationName
						});
					}
					for (let k in this.institution) {
						let item = this.institution[k];
						this.options[3].children.push({
							value: item.organizationNumber,
							label: item.organizationName
						});
					}
					// console.log(this.options);
				});
		},
		methods: {
			handleChange(value) {
				if (value == undefined) {
					value = "all-research";
				}
				this.$emit("sentNum", value[1]);
			}
		}
	};
</script>

<style>
	@media screen and (max-width: 520px) {
		.el-cascader__dropdown {
			max-width: 95%;
			left: 15px !important;
		}
		.el-cascader-menu {
			min-width: 130px !important;
		}
		.el-cascader-menu ul li {
			padding-left: 0;
		}
		.el-cascader-menu:last-child {
			padding-right: 0;
		}
	}
</style>
