<template>
	<div>
		<!-- Sidebar -->
		<div class="hidden">
			<vs-sidebar square relative v-model="active" open>
				<vs-sidebar-item @click.native="catagoryNum(0)" id="0">
					<template #icon>
						<img class="sidebar-icon" src="catagory/png/box.png" />
					</template>
					All Dataset
				</vs-sidebar-item>
				<vs-sidebar-item @click.native="catagoryNum(1)" id="1">
					<template #icon>
						<img class="sidebar-icon" src="catagory/png/astronomy.png" />
					</template>
					Astronomy
				</vs-sidebar-item>
				<vs-sidebar-item @click.native="catagoryNum(2)" id="2">
					<template #icon
						><img class="sidebar-icon" src="catagory/png/biology.png" />
					</template>
					Biology
				</vs-sidebar-item>
				<vs-sidebar-item @click.native="catagoryNum(3)" id="3">
					<template #icon
						><img class="sidebar-icon" src="catagory/png/chemistry.png" />
					</template>
					Chemistry
				</vs-sidebar-item>
				<vs-sidebar-item @click.native="catagoryNum(4)" id="4">
					<template #icon
						><img class="sidebar-icon" src="catagory/png/climate.png" />
					</template>
					climate
				</vs-sidebar-item>
				<vs-sidebar-item @click.native="catagoryNum(5)" id="5">
					<template #icon
						><img class="sidebar-icon" src="catagory/png/computer.png" />
					</template>
					Computer Science
				</vs-sidebar-item>
				<vs-sidebar-item @click.native="catagoryNum(6)" id="6">
					<template #icon
						><img class="sidebar-icon" src="catagory/png/economic.png" />
					</template>
					Economic
				</vs-sidebar-item>
				<vs-sidebar-item @click.native="catagoryNum(7)" id="7">
					<template #icon
						><img class="sidebar-icon" src="catagory/png/engineering.png" />
					</template>
					Engineering
				</vs-sidebar-item>
				<vs-sidebar-item @click.native="catagoryNum(8)" id="8">
					<template #icon
						><img class="sidebar-icon" src="catagory/png/geographical.png" />
					</template>
					Geographical
				</vs-sidebar-item>
				<vs-sidebar-item @click.native="catagoryNum(9)" id="9">
					<template #icon
						><img
							class="sidebar-icon"
							src="catagory/png/materials-science.png"
						/>
					</template>
					Material Science
				</vs-sidebar-item>
				<vs-sidebar-item @click.native="catagoryNum(10)" id="10">
					<template #icon
						><img class="sidebar-icon" src="catagory/png/medical.png" />
					</template>
					Medical
				</vs-sidebar-item>
				<vs-sidebar-item @click.native="catagoryNum(11)" id="11">
					<template #icon
						><img class="sidebar-icon" src="catagory/png/physic.png" />
					</template>
					Physics
				</vs-sidebar-item>
				<vs-sidebar-item @click.native="catagoryNum(12)" id="12">
					<template #icon
						><img class="sidebar-icon" src="catagory/png/other.png" />
					</template>
					Other
				</vs-sidebar-item>
			</vs-sidebar>
		</div>
		<!-- Sidebar mobile -->
		<div class="hide">
			<el-button v-b-toggle.sidebar-backdrop shadow>Select Catalog</el-button>
			<b-sidebar
				id="sidebar-backdrop"
				backdrop-variant="transparent"
				backdrop
				shadow
			>
				<div class="col-12">
					<vs-sidebar square relative v-model="active" open notShadow>
						<vs-sidebar-item @click.native="catagoryNum(0)" id="0">
							<template #icon>
								<img class="sidebar-icon" src="catagory/png/box.png" />
							</template>
							All Dataset
						</vs-sidebar-item>
						<vs-sidebar-item @click.native="catagoryNum(1)" id="1">
							<template #icon>
								<img class="sidebar-icon" src="catagory/png/astronomy.png" />
							</template>
							Astronomy
						</vs-sidebar-item>
						<vs-sidebar-item @click.native="catagoryNum(2)" id="2">
							<template #icon
								><img class="sidebar-icon" src="catagory/png/biology.png" />
							</template>
							Biology
						</vs-sidebar-item>
						<vs-sidebar-item @click.native="catagoryNum(3)" id="3">
							<template #icon
								><img class="sidebar-icon" src="catagory/png/chemistry.png" />
							</template>
							Chemistry
						</vs-sidebar-item>
						<vs-sidebar-item @click.native="catagoryNum(4)" id="4">
							<template #icon
								><img class="sidebar-icon" src="catagory/png/climate.png" />
							</template>
							climate
						</vs-sidebar-item>
						<vs-sidebar-item @click.native="catagoryNum(5)" id="5">
							<template #icon
								><img class="sidebar-icon" src="catagory/png/computer.png" />
							</template>
							Computer Science
						</vs-sidebar-item>
						<vs-sidebar-item @click.native="catagoryNum(6)" id="6">
							<template #icon
								><img class="sidebar-icon" src="catagory/png/economic.png" />
							</template>
							Economic
						</vs-sidebar-item>
						<vs-sidebar-item @click.native="catagoryNum(7)" id="7">
							<template #icon
								><img class="sidebar-icon" src="catagory/png/engineering.png" />
							</template>
							Engineering
						</vs-sidebar-item>
						<vs-sidebar-item @click.native="catagoryNum(8)" id="8">
							<template #icon
								><img
									class="sidebar-icon"
									src="catagory/png/geographical.png"
								/>
							</template>
							Geographical
						</vs-sidebar-item>
						<vs-sidebar-item @click.native="catagoryNum(9)" id="9">
							<template #icon
								><img
									class="sidebar-icon"
									src="catagory/png/materials-science.png"
								/>
							</template>
							Material Science
						</vs-sidebar-item>
						<vs-sidebar-item @click.native="catagoryNum(10)" id="10">
							<template #icon
								><img class="sidebar-icon" src="catagory/png/medical.png" />
							</template>
							Medical
						</vs-sidebar-item>
						<vs-sidebar-item @click.native="catagoryNum(11)" id="11">
							<template #icon
								><img class="sidebar-icon" src="catagory/png/physic.png" />
							</template>
							Physics
						</vs-sidebar-item>
						<vs-sidebar-item @click.native="catagoryNum(12)" id="12">
							<template #icon
								><img class="sidebar-icon" src="catagory/png/other.png" />
							</template>
							Other
						</vs-sidebar-item>
					</vs-sidebar>
				</div>
			</b-sidebar>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				active: "",
				activeSidebar: false
			};
		},
		created() {
			this.id = this.$route.query.id;
			if (this.id == undefined) {
				return (this.active = "0");
			} else {
				return (this.active = this.id);
			}
		},
		methods: {
			catagoryNum(num) {
				if (num == 0) {
					num = "all-research";
				}
				this.$emit("sentNum", num);
			}
		}
	};
</script>

<style>
	.vs-sidebar-content.relative {
		width: 100%;
		z-index: 0 !important;
	}
	.sidebar-icon {
		width: 26px;
		height: 26px;
	}
	.hide {
		display: none;
	}
	@media screen and (max-width: 991px) {
		.hidden {
			display: none;
		}
		.hide {
			display: inline;
		}
	}
	.b-sidebar-body,
	.b-sidebar-header {
		background-color: white;
	}
</style>
