<template>
	<div>
		<div class="block">
			<el-select
				v-model="value"
				placeholder="Select Research Group"
				@change="handleChange"
				class="test"
			>
				<el-option-group
					v-for="group in options"
					:key="group.label"
					:label="group.label"
				>
					<el-option
						v-for="item in group.options"
						:key="item.value"
						:label="item.label"
						:value="item.value"
					>
					</el-option>
				</el-option-group>
			</el-select>
		</div>
	</div>
</template>

<script>
	import axios from "axios";
	export default {
		data() {
			return {
				org: "",
				faculty: "",
				college: "",
				researchgroup: "",
				organization: [],
				institution: "",
				isDropdown2Visible: false,
				value: "",
				options: [
					{
						options: [
							{
								value: "all-research",
								label: "All Dataset"
							}
						]
					},
					{
						label: "กลุ่มวิจัย",
						options: []
					}
				]
			};
		},
		created() {
			axios
				.get("http://10.110.0.216:3000/api/research/researchgroup")
				.then((response) => {
					this.org = response.data.data;
					for (let i in this.org) {
						let item = this.org[i];
						this.options[1].options.push({
							value: item.researchGroupNumber,
							label: item.researchGroupName
						});
					}
				});
		},
		methods: {
			handleChange(value) {
				if (value == undefined) {
					value = "all-research";
				}
				this.$emit("sentNum", value);
				console.log(value);
			}
		}
	};
</script>

<style>
	@media screen and (max-width: 860px) {
		.el-select-dropdown {
			max-width: 95%;
			right: 15px;
		}
	}
</style>
