<template>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm">
					<div class="textHeadBorderMiddle fontresponse">
						<span class="title">Top 5 Popular Datasets</span>
					</div>
					<!-- Top 5 Table -->
					<vs-table class="top-table">
						<template #thead>
							<vs-tr>
								<vs-th></vs-th>
								<vs-th></vs-th>
							</vs-tr>
						</template>
						<template #tbody>
							<vs-tr
								v-for="(top, i) in topData.slice(0, 5)"
								:key="i"
								:data="top"
							>
								<vs-td
									><b>{{ i + 1 }}. {{ top.researchName }}</b></vs-td
								>
								<vs-td>
									<vs-button size="small" flat :class="top.categoryName">
										{{ top.categoryName }}</vs-button
									>
								</vs-td>
								<template #expand>
									<div class="con-content">
										<div class="col-8 col-sm">
											<p class="expand-text">
												{{ top.description }}
											</p>
										</div>
										<vs-button
											size="small"
											transparent
											@click="goDetail(top.researchNumber)"
										>
											Detail
										</vs-button>
									</div>
								</template>
							</vs-tr>
						</template>
					</vs-table>
				</div>
				<!-- Chart -->
				<div class="col-12 col-sm-4 text-center">
					<v-chart class="chart" :option="chartOption"></v-chart>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import { Button, Card } from "@/components";
	import axios from "axios";
	// Chart Component
	import { use } from "echarts/core";
	import { CanvasRenderer } from "echarts/renderers";
	import { PieChart } from "echarts/charts";
	import {
		TitleComponent,
		TooltipComponent,
		LegendComponent
	} from "echarts/components";
	use([
		CanvasRenderer,
		PieChart,
		TitleComponent,
		TooltipComponent,
		LegendComponent
	]);

	export default {
		components: {
			Card,
			[Button.name]: Button
		},
		data() {
			return {
				colorPalette: ["#00b04f", "#ffbf00", "#ff0000"],
				topData: "",
				chartOption: {
					title: {
						text: "Total Data by Catagory",
						left: "center",
						textStyle: {
							fontSize: 20
						}
					},
					tooltip: {
						trigger: "item",
						formatter: "{c} ({d}%)"
					},
					legend: {
						orient: "horizontal",
						selectedMode: false,
						icon: "circle",
						left: "center",
						top: 40
					},
					series: [
						{
							type: "pie",
							radius: ["50%", "70%"],
							center: ["50%", "65%"],
							avoidLabelOverlap: false,
							label: {
								show: false,
								fontSize: "15",
								fontWeight: "bold",
								position: "center",
								emphasis: {
									show: true
								}
							},
							labelLine: {
								show: false
							},
							data: [],
							itemStyle: {
								normal: {
									color: function (colors) {
										var colorList = [
											"#ffeb3b",
											"#8bc34a",
											"#4caf50",
											"#009688",
											"#00bcd4",
											"#2196f3",
											"#3f51b5",
											"#673ab7",
											"#9c27b0",
											"#e91e63",
											"#f44336",
											"#ff9800"
										];
										return colorList[colors.dataIndex];
									}
								}
							},
							emphasis: {
								itemStyle: {
									shadowBlur: 10,
									shadowOffsetX: 0,
									shadowColor: "rgba(0, 0, 0, 0.5)"
								}
							}
						}
					]
				}
			};
		},
		created() {
			axios
				.all([
					axios.get("http://10.110.0.216:3000/api/research/mostdownload"),
					axios.get("http://10.110.0.216:3000/api/category/countbyresearch")
				])
				.then(
					axios.spread((...responses) => {
						this.topData = responses[0].data.data;
						this.chartOption.series[0].data = responses[1].data.data;
					})
				)
				.catch((error) => {
					console.log(error);
				});
		},
		methods: {
			goDetail(id) {
				this.$router.push({
					name: "datadetail",
					query: { id: id }
				});
			}
		}
	};
</script>
<style scoped>
	@media screen and (max-width: 819px) {
		.fontresponse {
			font-size: 26px;
		}
	}
	.vs-table-content ::v-deep .vs-table table {
		min-width: unset !important;
	}
	.top-table {
		margin-bottom: 20px;
	}
	.vs-table__thead .vs-table__th {
		background-color: transparent;
	}
	.vs-table__td:first-child {
		font-size: 18px;
		width: 75%;
	}
	@media screen and (max-width: 816px) {
		.vs-table__td:first-child {
			font-size: 16px;
		}
	}
	.expand-text {
		font-size: 14px;
		color: grey;
	}
	.chart {
		height: 400px;
	}
	.Astronomy {
		background-color: #ffeb3b;
		color: white;
	}
	.Biology {
		background-color: #8bc34a;
		color: white;
	}
	.Chemistry {
		background-color: #4caf50;
		color: white;
	}
	.Climate {
		background-color: #009688;
		color: white;
	}
	.Computer {
		background-color: #00bcd4;
		color: white;
	}
	.Economic {
		background-color: #2196f3;
		color: white;
	}
	.Engineering {
		background-color: #3f51b5;
		color: white;
	}
	.Geographical {
		background-color: #673ab7;
		color: white;
	}
	.Material {
		background-color: #9c27b0;
		color: white;
	}
	.Medical {
		background-color: #e91e63;
		color: white;
	}
	.Physics {
		background-color: #f44336;
		color: white;
	}
	.Other {
		background-color: #ff9800;
		color: white;
	}
</style>
