<template>
	<div>
		<div class="page-header clear-filter" filter-color="blue">
			<Parallax
				class="page-header-image"
				style="background-image: url('img/dataset.jpg')"
			>
			</Parallax>
			<div class="content-center">
				<div class="container">
					<h1 class="title">Data Detail</h1>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container">
				<!-- Title -->
				<div class="row">
					<div class="col">
						<h3 class="middle">
							<span class="listdata">ชื่อ Dataset: </span
							>{{ dataDetail.researchName }}
						</h3>
					</div>
				</div>
				<!-- All Section -->
				<div class="allsection row" v-for="(data, i) in dataDetail" :key="i">
					<!-- Download -->
					<div class="download col-12 col-lg-4">
						<div class="card-download text-center">
							<div class="card-filetype" v-if="data.fileType.includes('link')">
								<!-- Link Extensions -->
								<h2>Link</h2>
								<p v-for="(link, j) in data.fileDirectory" :key="j">
									<a :href="link" target="_blank">
										{{ link | removeSlash }}
									</a>
								</p>
							</div>
							<!-- File Extensions -->
							<template v-else>
								<div class="row justify-content-center">
									<div class="col-12">
										<h4>Download</h4>
										<p>
											<b-icon icon="download"></b-icon>
											{{ data.downloadCount }}
										</p>
									</div>
									<div
										v-for="(filenames, k) in data.fileName"
										:key="k"
										class="col-4"
										type="button"
										@click.prevent="downloadfile(data.fileNumber, k)"
									>
										<img
											alt="data file type"
											:src="'catagory/png/' + data.fileType[k] + '.png'"
										/>
										<p class="fontresponse">
											{{ filenames | removeExtension }}
										</p>
									</div>
								</div>
							</template>
						</div>
					</div>
					<!-- Detail -->
					<div class="detail col-12 col-lg-7">
						<el-tabs class="card-detail" type="border-card">
							<!-- Tab-1  -->
							<el-tab-pane label="ข้อมูลทั่วไป">
								<p>
									<span class="listdata">ชื่อข้อมูล: </span>
									{{ data.researchName }}
								</p>
								<p>
									<span class="listdata">วันที่สร้างข้อมูล: </span
									>{{ data.created_at }}
								</p>
								<p>
									<span class="listdata">วันที่อัพเดตข้อมูลล่าสุด: </span
									>{{ data.updated_at }}
								</p>
								<p>
									<span class="listdata">รายละเอียดข้อมูล: </span
									>{{ data.description }}
								</p>
								<p>
									<span class="listdata">รูปแบบของไฟล์ข้อมูล: </span>
									<span v-for="(dupFiletype, i) in dupFiletype" :key="i">
										<span v-if="i != 0">, </span>
										{{ dupFiletype | checkFiletype }}</span
									>
								</p>
								<p>
									<span class="listdata">ประเภทของข้อมูล: </span>
									<span v-for="(dupFiletype, i) in dupFiletype" :key="i">
										<span v-if="i != 0">, </span>
										{{ dupFiletype }}</span
									>
								</p>
								<p>
									<span class="listdata">คำสำคัญ: </span>
									<span>{{ data.keyword && data.keyword.join(", ") }}</span>
								</p>
								<p>
									<span class="listdata">ระดับการเข้าถึง: </span
									>{{ data.status }}
								</p>
							</el-tab-pane>
							<!-- Tab 2 -->
							<el-tab-pane label="ลักษณะข้อมูล">
								<el-table :data="attributeData" style="width: 100%">
									<el-table-column prop="name" label="ชื่อคุณลักษณะ">
									</el-table-column>
									<el-table-column
										prop="description"
										label="รายละเอียดคุณลักษณะ"
									>
									</el-table-column>
									<el-table-column prop="type" label="ประเภทคุณลักษณะ">
									</el-table-column>
								</el-table>
							</el-tab-pane>
						</el-tabs>
					</div>
				</div>
				<!-- Back Button -->
				<!-- <div class="row">
					<div class="col-12">
						<router-link
							:to="{
								name: 'alldataset',
								query: { id: dataDetail.category_Number }
							}"
						>
							<el-button icon="el-icon-arrow-left">Back</el-button>
						</router-link>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</template>

<script>
	import { Parallax } from "@/components";
	import axios from "axios";

	export default {
		name: "datadetail",
		bodyClass: "datadeatil-page",
		components: {
			Parallax
		},
		data() {
			return {
				dataDetail: "",
				dupFiletype: "-",
				filenameDownload: "",
				attributeData: []
			};
		},
		created() {
			let url =
				"http://10.110.0.216:3000/api/research/detail/" + this.$route.query.id;
			axios
				.get(url)
				.then((response) => {
					this.dataDetail = response.data.detail;
					this.dupFiletype = this.dataDetail[0].fileType;
					this.filenameDownload = response.data.detail[0].fileName;
					this.attributeData = response.data.attribute;
					this.removeDuplicates();
				})
				.catch((error) => {
					console.log(error);
					this.errored = true;
				})
				.finally(() => {
					this.loading = false;
				});
		},
		filters: {
			checkFiletype(value) {
				if (value == "api") {
					return "API";
				}
				if (value == "csv") {
					return "Excel";
				}
				if (value == "dat") {
					return "Data File";
				}
				if (value == "docx" || value == "doc") {
					return "Document";
				}
				if (value == "gif") {
					return "GIF";
				}
				if (value == "jpg") {
					return "Image";
				}
				if (value == "json") {
					return "JSON";
				}
				if (value == "pdf") {
					return "PDF";
				}
				if (value == "png") {
					return "Image";
				}
				if (value == "ppt") {
					return "Presentation";
				}
				if (value == "rar") {
					return "Compress File";
				}
				if (value == "sql") {
					return "SQL";
				}
				if (value == "tiff") {
					return "Tag Image File Format";
				}
				if (value == "txt") {
					return "Text File";
				}
				if (value == "xlsx" || value == "xls") {
					return "Excel";
				}
				if (value == "zip") {
					return "Compress File";
				} else {
					return "link";
				}
			},
			removeExtension(filename) {
				return filename.substr(0, filename.lastIndexOf("."));
			},
			removeSlash(linkname) {
				linkname = linkname.replace(/\\/g, "");
				return linkname;
			}
		},
		methods: {
			removeDuplicates() {
				this.dupFiletype = [...new Set(this.dupFiletype)];
			},

			forceFileDownload(response, title) {
				const url = window.URL.createObjectURL(new Blob([response.data]));
				const link = document.createElement("a");
				link.href = url;
				link.setAttribute("download", title);
				document.body.appendChild(link);
				link.click();
			},
			downloadfile(fileId, i) {
				let numFile = i + 1;
				let urls =
					"http://10.110.0.216:3000/api/files/download/" +
					fileId +
					"/" +
					numFile;
				let nameDownload = this.filenameDownload[i];
				axios
					.get(urls, { responseType: "arraybuffer" })
					.then((response) => {
						this.forceFileDownload(response, nameDownload);
					})
					.catch((error) => {
						console.log(error);
					});
				// window.open(urls, "_blank");
				// window.location = urls;
			}
		}
	};
</script>

<style scoped>
	.allsection {
		min-height: 450px;
		margin-bottom: 15px;
	}
	.download {
		margin-top: 15px;
	}
	.card-download {
		border: 1px solid#DCDFE6;
		box-shadow: 0 2px 4px 0 rgb(0 0 0 / 12%), 0 0 6px 0 rgb(0 0 0 / 4%);
		padding: 30px 20px 20px;
		height: 100%;
	}
	.detail {
		margin-top: 15px;
	}
	.card-detail {
		height: 100%;
	}
	.listdata {
		font-weight: bold;
	}
	.middle {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	.fontresponse {
		font-size: 15px;
		line-break: anywhere;
	}
	@media screen and (max-width: 819px) {
		.fontresponse {
			font-size: 13px;
		}
	}
	a {
		color: #000;
	}
	h4 {
		margin-top: 0px;
	}
</style>
