<template>
	<div>
		<div class="page-header clear-filter" filter-color="blue">
			<Parallax
				class="page-header-image"
				style="background-image: url('img/bg10.png')"
			>
			</Parallax>
		</div>
		<div>
			<div class="section section-boxshowscore">
				<div class="container">
					<div class="row justify-content-center">
						<!-- Total Data -->
						<div class="col-5 col-sm-4">
							<el-card class="box-card text-center">
								<h1 v-if="totalDataset.length == 0">
									<i class="now-ui-icons users_single-02"></i>
									{{ totalDataset.length }}
								</h1>
								<h1 v-else>
									<i class="now-ui-icons design_app"></i>
									{{ totalDataset.length }}
								</h1>
								<div class="text-number">Number of Dataset</div>
							</el-card>
						</div>
						<!-- Total User -->
						<div class="col-5 col-sm-4">
							<el-card class="box-card text-center">
								<h1 v-if="totalResearcher.length == 0">
									<i class="now-ui-icons users_single-02"></i>
									{{ totalResearcher.length }}
								</h1>
								<h1 v-else>
									<i class="now-ui-icons users_single-02"></i>
									{{ totalResearcher }}
								</h1>
								<div class="text-number">Number of Researcher</div>
							</el-card>
						</div>
					</div>
				</div>
			</div>
		</div>

		<AllCatalog></AllCatalog>
		<NewArrival />
		<top-ten></top-ten>
	</div>
</template>
<script>
	import AllCatalog from "./components/AllCatalog";
	import TopTen from "./components/TopTen";
	import NewArrival from "./components/NewArrival";
	import axios from "axios";

	import { Parallax } from "@/components";
	import { Card, FormGroupInput, Button } from "@/components";

	export default {
		name: "index",
		bodyClass: "index-page",
		components: {
			Parallax,
			AllCatalog,
			NewArrival,
			TopTen,
			Card,
			[Button.name]: Button,
			[FormGroupInput.name]: FormGroupInput
		},
		data() {
			return {
				totalDataset: "",
				totalResearcher: ""
			};
		},
		created() {
			axios
				.all([
					axios.get("http://10.110.0.216:3000/api/research/all-research"),
					axios.get("http://10.110.0.216:3000/api/auth/all-users")
				])
				.then((responseArr) => {
					this.totalDataset = responseArr[0].data.data;
					this.totalResearcher = responseArr[1].data.users;
				});
		}
	};
</script>

<style scoped>
	h1 {
		margin: 20px;
	}
	.text-number {
		margin-bottom: 5px;
	}
	.box-card {
		margin-top: -110px;
		color: white;
	}
	.el-card {
		background-color: #1c222d;
		border: 0;
	}
</style>
