<template>
  <div class="page-header clear-filter" filter-color="orange">
    <div
      class="page-header-image"
      style="background-image: url('img/login.png')"
    ></div>
    <div class="content">
      <div class="container" align="right">
        <div class="col-md-5 ml-auto mr-auto">
          <card class="card-signup" header-classes="text-center" color="black">
            <card type="login" plain>
              <div slot="header">
                <!-- <i class="now-ui-icons shopping_box"></i> -->
                <h3>LOGIN</h3>
              </div>

              <!-- addon-left-icon="now-ui-icons users_circle-08" -->
              <!-- addon-left-icon="now-ui-icons text_caps-small" -->
              <!-- <fg-input value="test1@cmu.ac.th" id="email" class="has-success"></fg-input>
              <fg-input value="admin1234" id="password" class="has-success"></fg-input> -->
              <fg-input class="input-lg" placeholder="Email..." v-model="email">
              </fg-input>

              <fg-input
                class="input-lg"
                placeholder="Password..."
                v-model="password"
                type="password"
              >
              </fg-input>

              <template slot="raw-content">
                <div class="card-footer text-center">
                  <button
                    class="btn btn-primary btn-round btn-lg btn-block"
                    v-on:click="getPosts()"
                  >
                    Login
                  </button>
                </div>
                <!-- <div class="pull-left">
									<h6>
										<a href="/" class="link footer-link">Create Account</a>
									</h6>
								</div> -->
              </template>
            </card>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Card, Button, FormGroupInput } from "@/components";
import MainFooter from "@/layout/MainFooter";
import axios from "axios";
export default {
  name: "login-page",
  bodyClass: "login-page",
  components: {
    Card,
    MainFooter,
    [Button.name]: Button,
    [FormGroupInput.name]: FormGroupInput,
  },
  data() {
    return {
      email: "",
      password: "",
    };
  },
  methods: {
    getPosts() {
      return axios
        .post(
          "http://10.110.0.216:3000/api/auth/login",
          { email: this.email, password: this.password },
          {
            headers: {
              "Content-type": "application/json",
            },
          }
        )
        .then((response) => {
          console.log("access_token: " + response.data.access_token);
          console.log("expires_in: " + response.data.expires_in);
          if (response.data.expires_in == 3600) {
            this.$router.push({ name: "admin" });
          } else {
            this.$router.push({ name: "landing" });
          }
        })
        .catch((error) => {
          console.log("error: " + error);
        });

      // if(result.data.access_token>0 && result.data.expires_in==3600){}
    },
  },
};
</script>
<style></style>
