<template>
	<div class="body">
		<div class="page-header clear-filter" filter-color="blue">
			<Parallax
				class="page-header-image"
				style="background-image: url('img/dataset.jpg')"
			>
			</Parallax>
			<div class="content-center">
				<div class="container">
					<h1 class="title">Organization Dataset Page</h1>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="sidebar col-12 col-xl-3">
						<SidebarOrganization @sentNum="getCatagory($event)" />
					</div>
					<div class="col">
						<!-- Catagory Title -->
						<div class="row">
							<div class="col-8">
								<p v-if="title" class="catalog">
									{{ title }}
								</p>
							</div>
							<!-- Search -->
							<div class="searchinput col-12 col-md">
								<el-input
									prefix-icon="el-icon-search"
									placeholder="search..."
									v-model="search"
									@keyup.enter.native="searchEnter"
								>
								</el-input>
							</div>
						</div>
						<!-- Count data & Pagination -->
						<div class="row">
							<div class="col-5 col-sm" v-if="dataAll.length != 0">
								<p>Total Data: {{ dataAll.length }}</p>
							</div>
							<div class="col-7 col-sm" v-if="dataAll.length !== 0">
								<b-pagination
									v-if="dataAll.length !== 0"
									@change="onPageChanged"
									v-model="currentPage"
									:total-rows="dataAll.length"
									:per-page="perPage"
									class="pagesdata pagination-info"
								/>
								<div v-if="loading">
									<div
										class="spinner-border text-info float-right"
										role="status"
									></div>
								</div>
								<div v-if="errored">
									<p class="float-right">Load Data Failed !!</p>
								</div>
							</div>
							<div class="col col-sm" v-if="dataAll.length == 0">
								<el-empty description="No Data"></el-empty>
							</div>
						</div>
						<!-- Card Data -->
						<div class="row justify-content-center">
							<div class="col-12" v-for="(data, i) in paginatedItems" :key="i">
								<router-link
									:to="{
										name: 'datadetail',
										query: { id: data.researchNumber }
									}"
								>
									<vs-card id="dataCard" type="3" class="carddataset">
										<!-- Title & Download -->
										<template #title>
											<div class="row">
												<div class="col-8">
													<h2 class="cardtitle">{{ data.researchName }}</h2>
												</div>
												<div class="col-4 text-right carddownload">
													{{ data.categoryName }}
													<b-icon icon="download"></b-icon>
													<span> {{ data.downloadCount }}</span>
												</div>
											</div>
										</template>
										<!-- Description -->
										<template #text>
											<div class="row">
												<div class="col-12">
													<p>{{ data.description }}</p>
												</div>
											</div>
											<!-- File Type -->
											<div class="row">
												<div class="card-filetype col-12 text-right">
													<template v-if="data.fileType.includes('link')">
														<p v-for="(link, j) in data.fileDirectory" :key="j">
															{{ link | removeSlash }}
														</p>
													</template>
													<img
														alt="data file type"
														v-else
														v-for="(pictype, i) in data.fileType"
														:key="i"
														class="cardimg"
														slot="label"
														:src="'catagory/png/' + pictype + '.png'"
													/>
												</div>
											</div>
											<!-- keywords & Edit -->
											<div class="row">
												<div class="keyword col-8">
													<button
														v-for="keyword in data.keyword"
														:key="keyword"
														type="button"
														class="btn btn-info btn-simple btn-sm"
													>
														{{ keyword }}
													</button>
												</div>
												<div class="editdate col-4">
													<span>ปรับปรุงล่าสุด: {{ data.updated_at }}</span>
												</div>
											</div>
										</template>
									</vs-card>
								</router-link>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import { Parallax } from "@/components";
	import axios from "axios";
	import SidebarOrganization from "./components/SidebarOrganization.vue";

	export default {
		name: "AllDataset",
		bodyClass: "alldataset-page",
		components: { Parallax, SidebarOrganization },
		props: ["num"],
		data() {
			return {
				loading: true,
				errored: false,
				dataAll: "",
				currentPage: 1,
				totalRows: 5,
				perPage: 5,
				paginatedItems: "",
				title: "",
				search: ""
			};
		},
		created() {
			this.id = this.$route.query.id;
			let url = "http://10.110.0.216:3000/api/research/getbycategories/";
			if (this.id == undefined) {
				url = "http://10.110.0.216:3000/api/research/all-research";
			} else {
				url = url + this.id;
			}

			axios
				.get(url)
				.then((response) => {
					if (url == "http://10.110.0.216:3000/api/research/all-research") {
						this.title = "All Dataset";
						this.dataAll = response.data.data;
					} else {
						this.dataAll = response.data.data;
						this.title = this.dataAll[0].categoryName;
					}
				})
				.catch((error) => {
					console.log(error);
					this.errored = true;
				})
				.finally(() => {
					this.loading = false;
					this.paginate(this.perPage, 0);
				});
		},
		filters: {
			removeSlash(linkname) {
				return linkname.replace(/\\\//g, "/");
			}
		},
		methods: {
			paginate(page_size, page_number) {
				let itemsToParse = this.dataAll;
				this.paginatedItems = itemsToParse.slice(
					page_number * page_size,
					(page_number + 1) * page_size
				);
			},
			onPageChanged(page) {
				this.paginate(this.perPage, page - 1);
			},
			getCatagory(num) {
				let url =
					"http://10.110.0.216:3000/api/research/getbyorganization/" + num;
				if (num == "all-research" || num == undefined) {
					url = "http://10.110.0.216:3000/api/research/all-research";
				}
				axios
					.get(url)
					.then((response) => {
						let getdata = response.data.data;
						if (url == "http://10.110.0.216:3000/api/research/all-research") {
							this.title = "All Dataset";
							this.dataAll = response.data.data;
							this.errored = false;
						} else if (getdata.length == 0) {
							this.dataAll = "";
							this.title = "";
						} else {
							this.dataAll = getdata;
							this.title = getdata[0].organizationName;
							this.errored = false;
						}
					})
					.catch((error) => {
						console.log(error);
						this.errored = true;
					})
					.finally(() => {
						this.loading = false;
						this.paginate(this.perPage, 0);
					});
			}
		}
	};
</script>
<style scoped>
	.body {
		min-height: 1000px;
	}
	.pagesdata {
		justify-content: right;
	}
	.editdate {
		display: flex;
	}
	.editdate span {
		margin-left: auto;
		align-self: flex-end;
	}
	.cardtitle {
		font-size: 2em;
	}
	.carddownload {
		font-size: 1.2em;
	}
	a:hover {
		text-decoration: none;
		color: #f96332;
	}
	@media screen and (min-width: 768px) {
		.fontresponse {
			font-size: 1em;
		}
	}
	@media screen and (max-width: 767px) {
		.fontresponse {
			font-size: 9px;
		}
	}
	.btn-info.btn-simple,
	.btn-simple.el-button:first-child {
		font-family: Prompt;
	}
	.searchinput {
		margin: auto;
	}
	@media screen and (max-width: 767px) {
		.searchinput,
		.sidebar {
			margin-bottom: 20px;
		}
	}
</style>
