<template>
  <div>
    <div class="section section-user">
      <div class="container">
        <br /><br />
        <div class="row" style="margin-top: 40 px">
          <div class="col-md-3 ml-auto mr-auto text-center">
            <card type="stat">
              <template slot="header">
                <div class="row">
                  <div class="col-5">
                    <div class="icon-detail">
                      <span>Datasets</span>
                      <h1>
                        <i class="now-ui-icons design_app"></i>
                      </h1>
                    </div>
                  </div>
                  <div class="col-6 text-center">
                    <div class="numberdata">
                      {{ totalDatasetlength }}
                    </div>
                  </div>
                </div>
              </template>
            </card>
          </div>
          <div class="col-md-3 ml-auto mr-auto text-center">
            <card type="stat">
              <template slot="header">
                <div class="row">
                  <div class="col-6">
                    <div class="icon-detail">
                      <span>Researchers</span>
                      <h1>
                        <i
                          class="now-ui-icons now-ui-icons users_single-02"
                        ></i>
                      </h1>
                    </div>
                  </div>
                  <div class="col-6 text-center">
                    <div class="numberdata">
                      {{ totalResearcher }}
                    </div>
                  </div>
                </div>
              </template>
            </card>
          </div>
          <div class="col-md-3 ml-auto mr-auto text-center">
            <card type="stat">
              <template slot="header">
                <div class="row">
                  <div class="col-5">
                    <div class="icon-detail">
                      <span>Requests</span>
                      <h1>
                        <i class="now-ui-icons ui-1_send"></i>
                      </h1>
                    </div>
                  </div>
                  <div class="col-6 text-center">
                    <div class="numberdata">
                      {{ 0 }}
                    </div>
                  </div>
                </div>
              </template>
            </card>
          </div>
          <div class="col-md-3 ml-auto mr-auto text-center">
            <card type="stat">
              <template slot="header">
                <div class="row">
                  <div class="col-5">
                    <div class="icon-detail">
                      <span>Upload</span>
                      <h1>
                        <i class="now-ui-icons ui-2_chat-round"></i>
                      </h1>
                    </div>
                  </div>
                  <div class="col-6 text-center">
                    <div class="numberdata">
                      {{ 0 }}
                    </div>
                  </div>
                </div>
              </template>
            </card>
          </div>
        </div>
        <!-- Table -->
        <table class="table table-striped table-bordered">
          <thead>
            <tr class="td-actions text-center">
              <th>#</th>
              <th>Title</th>
              <th>File Type</th>
              <th>Researcher</th>
              <th>Public</th>
              <th>#Download</th>
              <th>Time Upload</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(data, index) in totalDataset"
              :key="data.id"
              class="td-actions text-center"
            >
              <td>{{ index + 1 }}</td>
              <td width="25%">{{ data.researchName }}</td>
              <td>{{ data.user_id }}</td>
              <td>
                <!-- <template v-if="data.fileType.includes('link')">
                  <span v-for="(link, j) in data.fileType" :key="j">
                    {{ link | removeSlash }}
                  </span>
                </template> -->
                <img
                  v-for="(pictype, i) in data.fileType"
                  :key="i"
                  class="cardimg"
                  slot="label"
                  :src="'catagory/png/' + pictype + '.png'"
                />
              </td>
              <td>{{ data.status }}</td>
              <td>{{ data.downloadCount }}</td>
              <td>{{ data.updated_at }}</td>
              <td class="td-actions text-center">
                <!-- <el-button > -->
                <router-link
                  :to="{
                    name: 'edit',
                    query: { id: data.researchNumber },
                  }"
                >
                  <n-button type="success" round icon>
                    <i class="fas fa-pencil-alt"></i>
                  </n-button>
                </router-link>

                <!-- </el-button> -->
                <el-button
                  type="text"
                  @click="delete_data(data.researchNumber)"
                >
                  <n-button type="primary" round icon>
                    <i class="far fa-trash-alt"></i>
                  </n-button>
                </el-button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
<script>
// import TaskList from ".../Dashboard/TaskList";
import axios from "axios";
import { Card, Button, FormGroupInput } from "@/components";
export default {
  name: "dashboard",
  bodyClass: "dashboard-page",
  components: {
    // TaskList,
    Card,
    [Button.name]: Button,
    [FormGroupInput.name]: FormGroupInput,
  },

  data() {
    return {
      totalDataset: "",
      totalDatasetlength: "",
      totalResearcher: "",
    };
  },
  created() {
    axios
      .all([
        axios.get("http://10.110.0.216:3000/api/research/all-research"),
        axios.get("http://10.110.0.216:3000/api/auth/all-users"),
      ])
      .then((responseArr) => {
        this.totalDataset = responseArr[0].data.data;
        this.totalDatasetlength = responseArr[0].data.data.length;
        this.totalResearcher = responseArr[1].data.users;
        console.log("totalDataset:", this.totalDataset);
      });
  },
  filters: {
    removeSlash(linkname) {
      linkname = linkname.replace(/\\\//g, "/");
      return linkname;
    },
  },
  methods: {
    delete_data(researchNumber) {
      // console.log("id", researchNumber);
      const urldel =
        "http://10.110.0.216:3000/api/research/delete/" + researchNumber;
      this.$confirm(
        'Are you sure? Do you want to delete "your data set" ',
        "Delete",
        {
          confirmButtonText: "Delete",
          cancelButtonText: "Cancel",
          type: "warning",
        }
      )
        .then(() => {
          axios
            .delete(urldel, {
              params: {
                id: sessionStorage.getItem("user_id"),
                email: sessionStorage.getItem("email"),
              },
            })
            .then((res) => {
              this.$message({
                type: "success",
                message: "Delete completed",
              });
              this.$router.go(0);
            })
            .catch((error) => {
              // console.log("error: " + error);
            });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "Delete canceled",
          });
        });
    },
  },
};
</script>
<style scoped>
.card {
  background-color: #2c2c2c;
}
.numberdata {
  font-size: 7.1875rem;
  color: #f96332;
  /* margin-top: 55px ; */
}

.icon-detail {
  color: #fcfcfc;
  font-size: 1.0875rem;
  text-align: center;
  /* border-radius: .1875rem;
    margin: 15px 0; */
  margin: 40px 0 0 10px;
  min-height: 150px;
}
</style>
