<template>
	<div>
		<h2>{{ test }}</h2>
		<p>access_token : {{ access_token }}</p>
	</div>
</template>

<script>
	import axios from "axios";

	export default {
		data() {
			return {
				test: "โหลดดิ้ง ดิ้ง ดิ้งงงงง",
				url: "",
				access_token: "",
				refresh_token: "",
				expires_in: ""
			};
		},
		created() {
			// const authcode = this.$route.query.authorization_code;
			// console.log(authcode);
			// console.log(process.env.CMU_APP_ID)
			// const redirecturi =
			// 	"&redirect_uri=http://10.110.0.216:80/api/auth/cmu/callback";
			// const clientid = "&client_id=JnFjy3Nz5PBhRZyMKeAawxCZ1D0vZanYkhwFkQJt";
			// const clientsecret =
			// 	"&client_secret=pUk63CNd2AvNKyBmWTu5dsK5AQ7GD3B5FhXNmF5z";
			// const granttype = "&grant_type=authorization_code";
			// const url =
			// 	"https://oauth.cmu.ac.th/v1/GetToken.aspx?code=" +
			// 	this.$route.query.authorization_code +
			// 	redirecturi +
			// 	clientid +
			// 	clientsecret +
			// 	granttype;
			// this.url = url;

			// axios
			// 	.post(url, {})
			// 	.then((response) => {
			// 		console.log(response.data);
			// 	})
			// 	.catch((error) => {
			// 		console.log(error);
			// 	});
			// ------------------------------ Test --------
			var config = {
				method: "post",
				url:
					"https://oauth.cmu.ac.th/v1/GetToken.aspx?code=" +
					this.$route.query.authorization_code +
					"&redirect_uri=http://10.110.0.216:3000/api/auth/cmu/callback&client_id=JnFjy3Nz5PBhRZyMKeAawxCZ1D0vZanYkhwFkQJt&client_secret=pUk63CNd2AvNKyBmWTu5dsK5AQ7GD3B5FhXNmF5z&grant_type=authorization_code",
				headers: {}
			};
			this.url = config.url;

			// var request = require('request');

			// request(config, function (error, response) {
			// if (error) throw new Error(error);
			// console.log(response.body);
			// });

			axios(config)
				.then(function (response) {
					console.log(JSON.stringify(response.data));
					let data = response.data;
					console.log(data.access_token);
				})
				.catch(function (error) {
					console.log(error);
				});

			// axios.post();

			// localStorage.setItem("accesstoken", acc.data.access_token);
		}
	};
</script>

<style></style>
