<template>
  <div>
    <div class="section section-user">
      <div class="container">
        <br /><br />
        <div class="row" style="margin-top: 40 px">
          <!-- Card User -->
          <div class="col-md-8 ml-auto mr-auto text-center">
            <card type="user">
              <p class="card-text"></p>
              <!-- <div class="author">
                <div class="block block-one"></div>
                <div class="block block-two"></div>
                <div class="block block-three"></div>
                <div class="block block-four"></div> -->
              <div class="photo-container">
                <img v-bind:src="user.pix" />
              </div>
              <h5 class="title">
                {{ user.fullName_th }}
                <br />
                {{ user.fullName_en }}
              </h5>
              <hr />
              <p class="description">
                ตำแหน่ง (Position) : {{ user.position }}
                <br />
                ฝ่าย/ภาควิชา (Unit/Department) : {{ user.unit_TH }}
                <br />
                สังกัด (Organization) : {{ user.organization_TH }}
                <br />
                Email : {{ user.email }}
              </p>

              <p class="card-description">Email :</p>
              <p></p>

              <div slot="footer" class="button-container"></div>
            </card>
          </div>
          <!-- Card Down/Up -->
          <div class="col-md-4 ml-auto mr-auto text-center">
            <card type="stat">
              <template slot="header">
                <div class="row">
                  <div class="col-5">
                    <div class="icon-detail">
                      <span>Upload</span>
                      <h1>
                        <i class="now-ui-icons arrows-1_cloud-upload-94"></i>
                      </h1>
                    </div>
                  </div>
                  <div class="col-6 text-center">
                    <div class="numberdata">
                      {{ user.dataset }}
                    </div>
                  </div>
                </div>
              </template>
            </card>
            <card type="stat">
              <template slot="header">
                <div class="row">
                  <div class="col-5">
                    <div class="icon-detail">
                      <span>Download</span>
                      <h1>
                        <i class="now-ui-icons arrows-1_cloud-download-93"></i>
                      </h1>
                    </div>
                  </div>
                  <div class="col-6 text-center">
                    <div class="numberdata">
                      {{ user.all_download }}
                    </div>
                  </div>
                </div>
              </template>
            </card>
          </div>
        </div>
        <div class="row" id="updload">
          <div class="col-lg-12 col-md-4 text-right">
            <a href="/researcher/form"
              ><button class="btn btn-info">
                <i class="fas fa-plus-circle"> </i> Create Dataset
              </button></a
            >
          </div>
        </div>
        <div class="row">
          <div class="table-full-width table-responsive">
            <task-list :user="user"></task-list>
          </div>
        </div>
        <!-- <div class="separator separator-primary"></div> -->
      </div>
    </div>
  </div>
</template>
<script>
import TaskList from "./Dashboard/TaskList";
import axios from "axios";
import { Card, Button, FormGroupInput } from "@/components";
export default {
  name: "dashboard",
  bodyClass: "dashboard-page",
  components: {
    TaskList,
    Card,
    [Button.name]: Button,
    [FormGroupInput.name]: FormGroupInput,
  },

  data() {
    return {
      user: {
        prename_EN: "",
        prename_TH: "",
        fullName_th: "",
        fullName_en: "",
        email: "",
        position: "",
        organization_TH: [],
        unit_TH: "",
        researchGroup: "",
        role: "",
        user_id: "",
        dataset: "",
        all_download: "",
      },
      count_data: [],
      info: [],
    };
  },
  created() {
    // const token = "kBJ6GgrwC93heEFvwW9pwUUHy26vvdYK";
    const eatery = JSON.parse(sessionStorage.getItem("accesstoken"));
    // console.log("eatery:", eatery);
    const token = eatery.access_token;
    // console.log("token:", token);
    const url = "http://10.110.0.216:3000/api/auth/dashboard/user";
    // console.log('access_token:');
    return axios
      .get(url, {
        headers: {
          Authorization: "Bearer " + token,
        },
      })
      .then((res) => {
        // this.user = res.data.user_detail
        console.log("data:", res.data);
        this.user.prename_EN = res.data.user_detail["prename_EN"];
        this.user.prename_TH = res.data.user_detail["prename_TH"];
        this.user.fullName_th = res.data.user_detail["name_TH"];
        this.user.fullName_en = res.data.user_detail["name_EN"];
        this.user.email = res.data.user_detail["email"];
        this.user.position = res.data.user_detail["position"];
        this.user.organization_TH = res.data.user_detail["organization_TH"];
        this.user.unit_TH = res.data.user_detail["unit_TH"];
        this.user.researchGroup = res.data.user_detail["researchGroup"];
        this.user.role = res.data.user_detail["role"];
        this.user.user_id = res.data.user_detail["id"];
        this.user.dataset = res.data.dataset;
        this.user.all_download = res.data.all_download;
        this.info = res.data.user_detail;
        this.user.pix = "../img/" + this.user.prename_EN + "png";
        // console.log('res.data.user_detail: ' + res.data.user_detail);
        sessionStorage.setItem("user_id", this.user.user_id);
        sessionStorage.setItem("email", this.user.email);
      })
      .catch((error) => {
        this.$router.push("/studentAccount");
        console.log("error: " + error);
      });
  },
};
</script>
<style scoped>
.card-user {
  overflow: hidden;
}

hr {
  margin: 5px 15px;
}

.button-container {
  margin-bottom: 6px;
  text-align: center;
}

.card-description {
  margin-top: 30px;
}

.numberdata {
  font-size: 6.1875rem;
  color: #2ca8ff;
  /* margin-top: 55px ; */
}

.icon-detail {
  color: #2ca8ff;
  font-size: 1.0875rem;
  text-align: center;
  /* border-radius: .1875rem;
    margin: 15px 0; */
  margin: 40px 0 0 10px;
  min-height: 150px;
}
</style>
