<template>
  <div class="section">
    <div class="container">
      <card class="box-card">
        <div>
          <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item :to="{ path: '/researcher/dashboard' }"
              >Dashboard</el-breadcrumb-item
            >
            <el-breadcrumb-item>Edit Dataset</el-breadcrumb-item>
          </el-breadcrumb>
          <hr />
        </div>
        <div>
          <el-tabs type="card" @tab-click="handleClick">
            <!-- Dataset Detail -->
            <el-tab-pane label="Detail">
              <div class="row justify-content-center">
                <div class="col-10">
                  <el-form
                    :model="ruleForm"
                    :rules="rules"
                    ref="ruleForm"
                    label-width="120px"
                    class="demo-ruleForm"
                  >
                    <h5 class="title">Upload Dataset</h5>
                    <!-- Name -->
                    <el-form-item label="Name" prop="name">
                      <el-input
                        v-model="ruleForm.name"
                        placeholder="The Title name of dataset"
                      ></el-input>
                    </el-form-item>
                    <!-- Description -->
                    <el-form-item label="Description" prop="desc">
                      <el-input
                        type="textarea"
                        v-model="ruleForm.desc"
                        placeholder="The description about dataset"
                      ></el-input>
                    </el-form-item>
                    <!-- Source -->
                    <el-form-item label="Source" prop="source">
                      <el-input
                        v-model="ruleForm.source"
                        placeholder="data source / organization / Center of Excellence / Research Group "
                      ></el-input>
                    </el-form-item>
                    <!-- Select category -->
                    <el-form-item label="Category" prop="category">
                      <el-select
                        v-model="ruleForm.category"
                        placeholder="Select category"
                      >
                        <el-option
                          v-for="item in allCategory"
                          :key="item.categoryNumber"
                          :value="item.categoryNumber"
                          :label="
                            item.categoryNumber + '. ' + item.categoryName
                          "
                        ></el-option>
                      </el-select>
                    </el-form-item>

                    <!-- Keyword -->
                    <el-form-item label="Keyword">
                      <el-tag
                        v-for="(tag, i) in ruleForm.dynamicTags"
                        :key="i"
                        closable
                        :disable-transitions="false"
                        @close="handleClose(tag)"
                      >
                        {{ tag }}
                      </el-tag>
                      <el-input
                        class="input-new-tag"
                        v-if="taginputVisible"
                        v-model="taginputValue"
                        ref="saveTagInput"
                        size="mini"
                        @keyup.enter.native="handleInputConfirm"
                        @blur="handleInputConfirm"
                      >
                      </el-input>
                      <el-button
                        v-else
                        class="button-new-tag"
                        size="small"
                        @click="showInput"
                        >+ New Tag
                      </el-button>
                    </el-form-item>

                    <!-- Button  -->
                    <el-form-item class="row justify-content-end">
                      <el-button type="primary" @click="submitForm('ruleForm')"
                        >Update</el-button
                      >
                      <el-button @click="resetForm('ruleForm')"
                        >Reset</el-button
                      >
                    </el-form-item>
                  </el-form>
                </div>
              </div>
            </el-tab-pane>
            <!-- File Detail -->
            <el-tab-pane label="Files">
              <div class="row justify-content-center">
                <div class="col-10">
                  <el-form
                    :model="ruleForm"
                    ref="ruleForm"
                    label-width="120px"
                    class="demo-ruleForm"
                  >
                    <h5 class="title">Files & Link</h5>
                    <el-form-item label="Files Unload" prop="file">
                      <div v-for="(image, key) in files" :key="key">
                        <div v-if="key < countFile">
                          <el-row>
                            <el-col :span="15">
                              {{ key + 1 }}. {{ image }}
                            </el-col>
                            <el-col :span="1"
                              ><el-button
                                type="danger"
                                icon="el-icon-delete"
                                @click="removeImage(image, key)"
                                circle
                                size="small"
                              ></el-button
                            ></el-col>
                          </el-row>
                        </div>
                        <div v-else-if="key === countFile">
                          <div class="textHead">
                            <span>New Files</span>
                          </div>
                          <el-row>
                            <el-col :span="15">
                              {{ key + 1 }}. {{ image.name }}
                            </el-col>
                            <el-col :span="1"
                              ><el-button
                                type="danger"
                                icon="el-icon-delete"
                                @click="removeNewImage(image, key)"
                                circle
                                size="small"
                              ></el-button
                            ></el-col>
                          </el-row>
                        </div>
                        <div v-else-if="key > countFile">
                          <el-row>
                            <el-col :span="15">
                              {{ key + 1 }}. {{ image.name }}
                            </el-col>
                            <el-col :span="2"
                              ><el-button
                                type="danger"
                                icon="el-icon-delete"
                                @click="removeNewImage(image, key)"
                                circle
                                size="small"
                              ></el-button
                            ></el-col>
                          </el-row>
                        </div>
                      </div>
                      <div
                        class="row justify-content-end"
                        v-if="countNewfile >= 3"
                      >
                        <el-button
                          type="success"
                          size="small"
                          style="width: 50%; margin: 20px"
                          @click="submitFiles"
                        >
                          <i class="el-icon-upload el-icon-right"> </i>
                          Upload Files
                        </el-button>
                      </div>
                      <div>
                        <el-row>
                          <el-col :span="15">
                            <input
                              id="file-upload"
                              type="file"
                              multiple
                              @change="uploadImage"
                            />
                          </el-col>
                          <!-- <el-col :span="3">
                            <el-button type="success">
                              <i class="el-icon-upload el-icon-right"> </i>
                              Upload
                            </el-button>
                          </el-col> -->
                        </el-row>
                      </div>
                    </el-form-item>
                    <!-- Link -->
                    <el-form-item label="Link/URL/API" prop="link">
                      <el-input
                        v-model="ruleForm.link"
                        placeholder="link/URL/API of the dataset"
                      ></el-input>
                    </el-form-item>
                    <!-- Button  -->
                    <el-form-item class="row justify-content-end">
                      <el-button type="primary" @click="submitForm('ruleForm')"
                        >Update</el-button
                      >
                      <el-button @click="resetForm('ruleForm')"
                        >Reset</el-button
                      >
                    </el-form-item>
                  </el-form>
                </div>
              </div>
            </el-tab-pane>
            <!-- Dictionary -->
            <el-tab-pane label="Data Dictionary">
              <div class="row justify-content-center">
                <div class="col-10">
                  <el-form
                    :model="ruleForm"
                    ref="ruleForm"
                    label-width="120px"
                    class="demo-ruleForm"
                  >
                    <h5 class="title">Data Dictionary</h5>
                    <!-- Attribute -->
                    <label> Attributes of dataset</label>
                    <el-form-item
                      class="linespace"
                      v-for="(attr, i) in attributes"
                      :key="attr.key"
                      :label="'Attribute ' + (i + 1)"
                    >
                      <el-col :span="7">
                        <el-input
                          placeholder="Attribute Name"
                          v-model="attr.name"
                        ></el-input>
                      </el-col>
                      <el-col :span="10">
                        <el-input
                          placeholder="Attribute Description"
                          v-model="attr.description"
                        ></el-input>
                      </el-col>
                      <el-col :span="6">
                        <el-input
                          placeholder="Attribute Type"
                          v-model="attr.type"
                        ></el-input>
                      </el-col>
                      <i
                        class="arrtDel el-icon-delete"
                        type="button"
                        @click.prevent="removeAttr(attr)"
                        plain
                      ></i>
                    </el-form-item>
                    <div class="text-right">
                      <el-button
                        size="small"
                        icon="el-icon-circle-plus"
                        type="primary"
                        @click="addAttr"
                        plain
                        >Add</el-button
                      >
                    </div>
                    <!-- Button  -->
                    <br />
                    <el-form-item class="row justify-content-end">
                      <el-button type="primary" @click="submitForm('ruleForm')"
                        >Update</el-button
                      >
                      <el-button @click="resetForm('ruleForm')"
                        >Reset</el-button
                      >
                    </el-form-item>
                  </el-form>
                </div>
              </div>
            </el-tab-pane>
            <!-- Accessibility -->
            <el-tab-pane label="Data Accessibility">
              <div class="row justify-content-center">
                <div class="col-10">
                  <el-form
                    :model="ruleForm"
                    ref="ruleForm"
                    label-width="120px"
                    class="demo-ruleForm"
                  >
                    <h5 class="title">Data Accessibility</h5>
                    <!-- Publishing -->
                    <el-form-item label="Accessibility" prop="selectPublish">
                      <div>
                        <el-radio
                          name="radio"
                          :value="true"
                          label="Private"
                          v-model="ruleForm.publish"
                          border
                          size="small"
                        />
                        <el-radio
                          name="radio"
                          :value="false"
                          v-model="ruleForm.publish"
                          label="Public"
                          border
                          size="small"
                        />
                      </div>
                    </el-form-item>
                    <div
                      v-if="ruleForm.publish === 'Private'"
                      class="row justify-content-center"
                    >
                      <div class="col-8">
                        <!-- Email -->
                        <label
                          >Allow User to download this data (CMU Account)
                        </label>
                        <el-form-item
                          class="linespace"
                          v-for="(email, index) in ruleForm.email"
                          :key="email.key"
                          :label="'Email ' + (index + 1)"
                        >
                          <el-col :span="18">
                            <el-input
                              v-model="email.mail"
                              placeholder="CMU Account (Email) "
                            ></el-input>
                          </el-col>
                          <i
                            class="arrtDel el-icon-delete"
                            type="button"
                            @click.prevent="removeEmail(email)"
                            plain
                          ></i>
                        </el-form-item>
                        <div class="text-right">
                          <el-button
                            size="small"
                            icon="el-icon-circle-plus"
                            type="primary"
                            @click="addEmail"
                            plain
                            >Add</el-button
                          >
                        </div>
                      </div>
                    </div>
                    <div v-else class="row justify-content-center">
                      <div class="col-8" height="100px;">
                        <label
                          >The dataset can be disclosed to the public</label
                        >
                      </div>
                    </div>
                    <!-- Button  -->
                    <br />
                    <el-form-item class="row justify-content-end">
                      <el-button type="primary" @click="submitForm('ruleForm')"
                        >Update</el-button
                      >
                      <el-button @click="resetForm('ruleForm')"
                        >Reset</el-button
                      >
                    </el-form-item>
                  </el-form>
                </div>
              </div>
            </el-tab-pane>
          </el-tabs>
        </div>
      </card>
    </div>
  </div>
</template>
<script>
import { Card } from "@/components";
import axios from "axios";
export default {
  name: "edit",
  components: {
    Card,
  },
  data() {
    return {
      countNewfile: 0,
      fileNumber: "",
      countFile: "",
      activeName: "first",
      seen: true,
      radio: "1",
      isHidden: false,
      disabled: false,
      taginputVisible: false,
      taginputValue: "",
      selectPublish: false,
      allCategory: "",
      files: "",
      newfile: "",
      attributes: [
        {
          name: null,
          description: null,
          type: null,
        },
      ],
      emails: [],
      ruleForm: {
        desc: "",
        name: "",
        category: "",
        publish: "",
        fileList: [],
        dynamicTags: [],
        attribute: [
          {
            key: 1,
            name: "",
            desc: "",
            type: "",
          },
        ],
        email: [{ mail: "" }],
        link: "",
        source: "",
      },
      rules: {
        name: [
          {
            required: true,
            message: "Please input Data name",
            trigger: "change",
          },
          {
            min: 2,
            max: 250,
            message: "Length should be 2 to 250",
            trigger: "change",
          },
        ],
        desc: [
          {
            required: true,
            message: "Please input Description",
            trigger: "change",
          },
        ],
        source: [
          {
            required: true,
            message: "Please input Description",
            trigger: "change",
          },
        ],
        category: [
          {
            required: true,
            message: "Please select category",
            trigger: "change",
          },
        ],
      },
    };
  },
  created() {
    let url =
      "http://10.110.0.216:3000/api/research/detail/" + this.$route.query.id;
    axios
      .get(url)
      .then((response) => {
        // console.log(response.data);
        this.ruleForm.name = response.data.detail[0].researchName;
        this.ruleForm.desc = response.data.detail[0].description;
        this.ruleForm.source = response.data.detail[0].source;
        this.ruleForm.category = response.data.detail[0].category_Number;
        this.attributes = response.data.attribute;
        this.ruleForm.publish = response.data.detail[0].status;
        this.ruleForm.dynamicTags = response.data.detail[0].keyword;
        this.files = response.data.detail[0].fileName;
        this.countFile = response.data.detail[0].fileName.length;
        this.fileNumber = response.data.detail[0].fileNumber;

        let mail = response.data.detail[0].allowUsers;
        for (let i = 0; i < mail.length; i++) {
          this.ruleForm.email[i] = { mail: mail[i] };
        }
        // this.ruleForm.email = response.data.detail[0].allowUsers;
        // this.emails = response.data.detail[0].allowUsers;

        console.log("Email >> ", this.ruleForm.email);

        // console.log("File >>> ", response.data.detail.fileName.length);
      })
      .catch((error) => {
        console.log(error);
        this.errored = true;
      })
      .finally(() => {
        this.loading = false;
      });
    axios
      .get("http://10.110.0.216:3000/api/category/all-name")
      .then((response) => {
        this.allCategory = response.data.data;
      });
  },
  methods: {
    // upload File
    removeNewImage(image, index) {
      console.log(index);
      this.files.splice(index, 1);
      this.applyImage();
    },
    uploadImage(e) {
      let selectedFiles = e.target.files;
      for (let i = 0; i < selectedFiles.length; i++) {
        this.files.push(selectedFiles[i]);
      }
      this.countNewfile = this.files.length;
      console.log("files Len", this.countNewfile);
      this.applyImage();
    },
    removeImage(image, index) {
      console.log(index);
      const urldel =
        "http://10.110.0.216:3000/api/files/delete/" +
        this.fileNumber +
        "/" +
        (index + 1);
      this.$confirm(
        'Are you sure? Do you want to delete "your data set" ',
        "Delete",
        {
          confirmButtonText: "Delete",
          cancelButtonText: "Cancel",
          type: "warning",
        }
      )
        .then(() => {
          axios
            .delete(urldel)
            .then((res) => {
              this.$message({
                type: "success",
                message: "Delete completed",
              });
              this.files.splice(index, 1);
              this.applyImage();
            })
            .catch((error) => {
              // console.log("error: " + error);
            });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "Delete canceled",
          });
        });
      //this.$refs.image[index].src = "" // You are hidding the 3rd one that is now in index 1.
    },
    applyImage() {
      for (let i = 0; i < this.files.length; i++) {
        let reader = new FileReader();
        reader.onload = (e) => {
          this.$refs.image[i].src = reader.result;
        };
        // reader.readAsDataURL(this.files[i]);
      }
    },
    handleClick(tab, event) {
      // console.log(tab, event);
    },
    handleFilesUpload() {
      this.files = this.$refs.files.files;
    },
    // upload file
    submitFiles() {
      let formData = new FormData();
      let n = 0;
      for (let i = this.countFile; i < this.files.length; i++) {
        let file = this.files[i];
        formData.append("files[" + n + "]", file);
        n = n + 1;
      }
      // formData.append("files[0]", this.files[4]);
      const url =
        "http://10.110.0.216:3000/api/files/upload/" + this.fileNumber;
      axios
        .post(url, formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
        .then(function () {
          console.log("Update File SUCCESS!! ");
        })
        .catch(function () {
          console.log("Update File FAILURE!!");
        });
    },
    // ruleForm //
    submitForm(formName) {
      // console.log("ruleForm", this.ruleForm);
      // console.log("attribute", this.attributes.length);

      let formData = new FormData();

      // console.log("files", this.files);

      for (let i = 0; i < this.attributes.length; i++) {
        let attributes_name = this.attributes[i]["name"];
        let attributes_description = this.attributes[i]["description"];
        let attributes_type = this.attributes[i]["type"];

        formData.append("attributeName[" + i + "]", attributes_name);
        formData.append(
          "attributeDescription[" + i + "]",
          attributes_description
        );
        formData.append("attributeType[" + i + "]", attributes_type);
      }
      for (let i = 0; i < this.ruleForm.email.length; i++) {
        let allowUsers_name = this.ruleForm.email[i]["mail"];
        formData.append("allowUsers[" + i + "]", allowUsers_name);
      }

      for (let i = 0; i < this.ruleForm.dynamicTags.length; i++) {
        let keyword = this.ruleForm.dynamicTags[i];
        formData.append("keyword[" + i + "]", keyword);
      }

      // console.log("keyword", this.ruleForm.dynamicTags);
      // formData.append("keyword", this.ruleForm.dynamicTags);
      formData.append("user_id", sessionStorage.getItem("user_id"));
      formData.append("category_Number", this.ruleForm.category);
      formData.append("status", this.ruleForm.publish);
      formData.append("researchName", this.ruleForm.name);
      formData.append("description", this.ruleForm.desc);
      formData.append("email", sessionStorage.getItem("email"));
      formData.append("source", this.ruleForm.source);
      formData.append("link", this.ruleForm.link);

      this.$refs[formName].validate((valid) => {
        if (valid) {
          // alert("submit!");
          const url =
            "http://10.110.0.216:3000/api/research/edit/" +
            this.$route.query.id;
          axios
            .post(url, formData, {
              headers: {
                "Content-Type": "multipart/form-data",
              },
            })
            .then(function () {
              // this.$router.go();
              // console.log("SUCCESS!!");
              // window.location.href = to.fullPath;
            })
            .catch(function () {
              // console.log("FAILURE!!");
            });
          this.$notify({
            title: "success alert",
            message: "Dataset updated successfully",
            type: "success",
          });
          this.$router.push("dashboard");
          // this.$router.go(this.$router.currentRoute)
        } else {
          console.log("error submit!!");
          return false;
          this.$notify.error({
            title: "Error",
            message: "Dataset don't updated",
            type: "warning",
          });
          window.location.href = to.fullPath;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
    // Upload //
    handleRemove(file, fileList) {
      console.log(file, fileList);
    },
    handlePreview(file) {
      console.log(file);
    },
    handleExceed(files, fileList) {
      this.$message.warning(
        `The limit is 3, you selected ${
          files.length
        } files this time, add up to ${files.length + fileList.length} totally`
      );
    },
    beforeRemove(file, fileList) {
      return this.$confirm(`Cancel the transfert of ${file.name} ?`);
    },
    // Tag //
    handleClose(tag) {
      this.ruleForm.dynamicTags.splice(
        this.ruleForm.dynamicTags.indexOf(tag),
        1
      );
    },
    showInput() {
      this.taginputVisible = true;
      this.$nextTick((_) => {
        this.$refs.saveTagInput.$refs.input.focus();
      });
    },
    handleInputConfirm() {
      let taginputValue = this.taginputValue;
      if (taginputValue) {
        this.ruleForm.dynamicTags.push(taginputValue);
      }
      this.taginputVisible = false;
      this.taginputValue = "";
    },
    // Attribute //
    removeAttr(item) {
      var index = this.attributes.indexOf(item);
      if (index !== -1) {
        this.attributes.splice(index, 1);
      }
    },
    addAttr() {
      this.attributes.push({
        key: Date.now(),
        name: "",
        desc: "",
        type: "",
      });
    },
    // Publishing //
    checkPublish() {
      if (this.selectPublish == true) {
        return (this.ruleForm.publish = "Public");
      }
      return (this.ruleForm.publish = "Private");
    },
    // Email //
    removeEmail(item) {
      var index = this.ruleForm.email.indexOf(item);
      if (index !== -1) {
        this.ruleForm.email.splice(index, 1);
      }
    },
    addEmail() {
      this.ruleForm.email.push({
        key: Date.now(),
        mail: "",
      });
    },
  },
};
</script>
<style scoped>
.textHead {
  text-align: center;
  color: #37374c;
  font-size: 16px;
  font-weight: 700;
  border-bottom: 3px solid #636363;
  line-height: 0.1em;
  margin: 20px 0;
}
.textHead > span {
  background-color: #ffffff;
  padding: 0 20px;
}
input[type="file" i] {
  font-family: "Prompt";
}
::-webkit-file-upload-button {
  background: #2ca8ff;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 35px;
}
.section {
  padding: 115px 0 0;
}

/* Tag */
.el-tag + .el-tag {
  margin-left: 10px;
}

.button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}

.input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
}

/* Bin icon */
.arrtDel {
  margin-left: 10px;
  font-size: 16px;
  color: rgb(240, 98, 73);
}
.arrtUpload {
  margin-left: 10px;
  font-size: 16px;
  color: rgb(89, 237, 34);
}

/* Attr & Email new line */
.linespace {
  margin-bottom: 5px;
}
</style>
