<template>
  <div class="section">
    <div class="container">
      <card class="box-card">
        <div>
          <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item :to="{ path: '/researcher/dashboard' }"
              >Dashboard</el-breadcrumb-item
            >
            <el-breadcrumb-item>Edit Dataset</el-breadcrumb-item>
          </el-breadcrumb>
          <hr />
        </div>
        <div class="row justify-content-center">
          <div class="col-10">
            <el-form
              :model="ruleForm"
              :rules="rules"
              ref="ruleForm"
              label-width="120px"
              class="demo-ruleForm"
            >
              <h5 class="title">Dataset Detail</h5>
              <!-- Name -->
              <el-form-item label="Name" prop="name">
                <el-input
                  v-model="ruleForm.name"
                  placeholder="The Title name of dataset"
                >
                </el-input>
              </el-form-item>
              <!-- Description -->
              <el-form-item label="Description" prop="description">
                <el-input
                  type="textarea"
                  v-model="ruleForm.descriptionname"
                  placeholder="The description about dataset"
                ></el-input>
              </el-form-item>
              <!-- Source -->
              <el-form-item label="Source" prop="source">
                <el-input
                  v-model="ruleForm.source"
                  placeholder="data source / organization / Center of Excellence / Research Group "
                ></el-input>
              </el-form-item>
              <!-- Select category -->
              <el-form-item label="Category" prop="category">
                <el-select
                  v-model="ruleForm.category"
                  placeholder="Select category"
                >
                  <el-option
                    v-for="item in allCategory"
                    :key="item.categoryNumber"
                    :value="item.categoryNumber"
                    :label="item.categoryNumber + '. ' + item.categoryName"
                  ></el-option>
                </el-select>
              </el-form-item>
              <!-- Upload -->

              <!-- Link -->
              <el-form-item label="Link/URL/API" prop="link">
                <el-input
                  v-model="ruleForm.link"
                  placeholder="link/URL/API of the dataset"
                ></el-input>
              </el-form-item>

              <!-- Keyword -->
              <el-form-item label="Keyword">
                <el-tag
                  v-for="(tag, i) in ruleForm.dynamicTags"
                  :key="i"
                  closable
                  :disable-transitions="false"
                  @close="handleClose(tag)"
                >
                  {{ tag }}
                </el-tag>
                <el-input
                  class="input-new-tag"
                  v-if="taginputVisible"
                  v-model="taginputValue"
                  ref="saveTagInput"
                  size="mini"
                  @keyup.enter.native="handleInputConfirm"
                  @blur="handleInputConfirm"
                >
                </el-input>
                <el-button
                  v-else
                  class="button-new-tag"
                  size="small"
                  @click="showInput"
                  >+ New Tag
                </el-button>
              </el-form-item>

              <!-- Attribute -->
              <label> Attributes of dataset</label>
              <el-form-item
                class="linespace"
                v-for="(attr, i) in attributes"
                :key="attr.key"
                :label="'Attribute ' + (i + 1)"
              >
                <el-col :span="7">
                  <el-input
                    placeholder="Attribute Name"
                    v-model="attr.name"
                  ></el-input>
                </el-col>
                <el-col :span="10">
                  <el-input
                    placeholder="Attribute Description"
                    v-model="attr.description"
                  ></el-input>
                </el-col>
                <el-col :span="6">
                  <el-input
                    placeholder="Attribute Type"
                    v-model="attr.type"
                  ></el-input>
                </el-col>
                <i
                  class="arrtDel el-icon-delete"
                  type="button"
                  @click.prevent="removeAttr(attr)"
                  plain
                ></i>
              </el-form-item>
              <div class="text-right">
                <el-button
                  size="small"
                  icon="el-icon-circle-plus"
                  type="primary"
                  @click="addAttr"
                  plain
                  >Add</el-button
                >
              </div>
              <!-- Publishing -->
              <el-form-item label="Publishing" prop="selectPublish">
                <el-switch
                  @change="checkPublish()"
                  v-model="selectPublish"
                  @click="disabled = !disabled"
                ></el-switch>
                {{ ruleForm.publish }}
              </el-form-item>

              <!-- Email -->
              <label>Allow User to download this data (CMU Account)</label>
              <el-form-item
                class="linespace"
                v-for="(email, index) in ruleForm.email"
                :key="email.key"
                :label="'Email ' + (index + 1)"
              >
                <el-col :span="23">
                  <el-input
                    v-model="email.mail"
                    placeholder="CMU Account (Email)"
                  ></el-input>
                </el-col>
                <i
                  class="arrtDel el-icon-delete"
                  type="button"
                  @click.prevent="removeEmail(email)"
                  plain
                ></i>
              </el-form-item>
              <div class="text-right">
                <el-button
                  size="small"
                  icon="el-icon-circle-plus"
                  type="primary"
                  @click="addEmail"
                  plain
                  >Add</el-button
                >
              </div>
              <!-- Button  -->
              <el-form-item>
                <el-button type="primary" @click="submitForm('ruleForm')"
                  >Update</el-button
                >
                <el-button @click="resetForm('ruleForm')">Reset</el-button>
              </el-form-item>
            </el-form>
          </div>
        </div>
      </card>
    </div>
  </div>
</template>

<script>
import { Card } from "@/components";
import axios from "axios";
export default {
  name: "form_data",
  components: {
    Card,
  },
  data() {
    return {
      dataDetail: "",
      dupFiletype: "-",
      filenameDownload: "",
      attributeData: [],
      taginputVisible: false,
      taginputValue: "",
      selectPublish: false,
      allCategory: "",
      files: "",
      attributes: [
        {
          name: null,
          description: null,
          type: null,
        },
      ],
      ruleForm: {
        descriptionname: "",
        name: "",
        category: "",
        publish: "",
        fileList: [],
        dynamicTags: [],
        attribute: [],
        email: [{ mail: "" }],
        link: "",
        source: "",
      },
      rules: {
        name: [
          {
            required: true,
            message: "Please input Data name",
            trigger: "change",
          },
          {
            min: 2,
            max: 250,
            message: "Length should be 2 to 250",
            trigger: "change",
          },
        ],
        descriptionname: [
          {
            required: true,
            message: "Please input Description",
            trigger: "change",
          },
        ],
        category: [
          {
            required: true,
            message: "Please select category",
            trigger: "change",
          },
        ],
      },
    };
  },
  created() {
    let url =
      "http://10.110.0.216:3000/api/research/detail/" + this.$route.query.id;
    axios
      .get(url)
      .then((response) => {
        console.log(response.data);
        this.ruleForm.name = response.data.detail.researchName;
        this.ruleForm.descriptionname = response.data.detail.description;
        this.ruleForm.source = response.data.detail.source;
        this.ruleForm.category = response.data.detail.category_Number;
        this.attributes = response.data.attribute;
        this.ruleForm.publish = response.data.detail.status;
        this.ruleForm.dynamicTags = response.data.detail.keyword;
        this.files = response.data.detail.fileName;
        this.ruleForm.email = response.data.detail.allowUsers;
        console.log(this.ruleForm.email);
      })
      .catch((error) => {
        console.log(error);
        this.errored = true;
      })
      .finally(() => {
        this.loading = false;
      });
    axios
      .get("http://10.110.0.216:3000/api/category/all-name")
      .then((response) => {
        this.allCategory = response.data.data;
      });
  },
  methods: {
    handleFilesUpload() {
      this.files = this.$refs.files.files;
    },

    // ruleForm //
    submitForm(formName) {
      console.log("ruleForm", this.ruleForm);
      console.log("attribute", this.attributes.length);

      let formData = new FormData();

      console.log("files", this.files);

      for (let i = 0; i < this.files.length; i++) {
        let file = this.files[i];
        formData.append("files[" + i + "]", file);
      }

      for (let i = 0; i < this.attributes.length; i++) {
        let attributes_name = this.attributes[i]["name"];
        let attributes_description = this.attributes[i]["description"];
        let attributes_type = this.attributes[i]["type"];

        formData.append("attributeName[" + i + "]", attributes_name);
        formData.append(
          "attributeDescription[" + i + "]",
          attributes_description
        );
        formData.append("attributeType[" + i + "]", attributes_type);
      }
      for (let i = 0; i < this.ruleForm.email.length; i++) {
        let allowUsers_name = this.ruleForm.email[i]["mail"];
        formData.append("allowUsers[" + i + "]", allowUsers_name);
      }
      console.log("keyword", this.ruleForm.dynamicTags);

      // for (let i = 0; i < this.ruleForm.dynamicTags.length; i++) {
      //   let keyword = this.ruleForm.dynamicTags[i];
      //   console.log("keyword", keyword);
      //   formData.append("keyword[" + i + "]", keyword);
      // }

      formData.append("keyword", this.ruleForm.dynamicTags);
      formData.append("user_id", sessionStorage.getItem("user_id"));
      formData.append("category_Number", this.ruleForm.category);
      formData.append("status", this.ruleForm.publish);
      formData.append("researchName", this.ruleForm.name);
      formData.append("description", this.ruleForm.descriptionname);
      formData.append("email", sessionStorage.getItem("email"));
      formData.append("source", this.ruleForm.source);
      formData.append("link", this.ruleForm.link);

      this.$refs[formName].validate((valid) => {
        if (valid) {
          alert("submit!");
          const url =
            "http://10.110.0.216:3000/api/research/edit/" +
            this.$route.query.id;
          axios
            .post(url, formData, {
              headers: {
                "Content-Type": "multipart/form-data",
              },
            })
            .then(function () {
              console.log("SUCCESS!!");
            })
            .catch(function () {
              console.log("FAILURE!!");
            });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
    // Upload //
    handleRemove(file, fileList) {
      console.log(file, fileList);
    },
    handlePreview(file) {
      console.log(file);
    },
    handleExceed(files, fileList) {
      this.$message.warning(
        `The limit is 3, you selected ${
          files.length
        } files this time, add up to ${files.length + fileList.length} totally`
      );
    },
    beforeRemove(file, fileList) {
      return this.$confirm(`Cancel the transfert of ${file.name} ?`);
    },
    // Tag //
    handleClose(tag) {
      this.ruleForm.dynamicTags.splice(
        this.ruleForm.dynamicTags.indexOf(tag),
        1
      );
    },
    showInput() {
      this.taginputVisible = true;
      this.$nextTick((_) => {
        this.$refs.saveTagInput.$refs.input.focus();
      });
    },
    handleInputConfirm() {
      let taginputValue = this.taginputValue;
      if (taginputValue) {
        this.ruleForm.dynamicTags.push(taginputValue);
      }
      this.taginputVisible = false;
      this.taginputValue = "";
    },
    // Attribute //
    removeAttr(item) {
      var index = this.attributes.indexOf(item);
      if (index !== -1) {
        this.attributes.splice(index, 1);
      }
    },
    addAttr() {
      this.attributes.push({
        key: Date.now(),
        name: "",
        desc: "",
        type: "",
      });
    },
    // Publishing //
    checkPublish() {
      if (this.selectPublish == true) {
        return (this.ruleForm.publish = "public");
      }
      return (this.ruleForm.publish = "private");
    },
    // Email //
    removeEmail(item) {
      var index = this.ruleForm.email.indexOf(item);
      if (index !== -1) {
        this.ruleForm.email.splice(index, 1);
      }
    },
    addEmail() {
      this.ruleForm.email.push({
        key: Date.now(),
        mail: "",
      });
    },
  },
};
</script>
<style scoped>
.section {
  padding: 115px 0 0;
}

/* Tag */
.el-tag + .el-tag {
  margin-left: 10px;
}

.button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}

.input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
}

/* Bin icon */
.arrtDel {
  margin-left: 10px;
  font-size: 16px;
  color: rgb(240, 98, 73);
}

/* Attr & Email new line */
.linespace {
  margin-bottom: 5px;
}
</style>
