<template>
  <div class="section">
    <div class="container">
      <card class="box-card">
        <div>
          <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item :to="{ path: '/researcher/dashboard' }"
              >Dashboard</el-breadcrumb-item
            >
            <el-breadcrumb-item>Upload Dataset</el-breadcrumb-item>
          </el-breadcrumb>
          <hr />
        </div>

        <div class="row justify-content-center">
          <div class="col-10">
            <el-form
              :model="ruleForm"
              :rules="rules"
              ref="ruleForm"
              label-width="120px"
              class="demo-ruleForm"
            >
              <h5 class="title">Upload Dataset</h5>
              <!-- Name -->
              <el-form-item label="Name" prop="name">
                <el-input
                  v-model="ruleForm.name"
                  placeholder="The Title name of dataset"
                ></el-input>
              </el-form-item>
              <!-- Description -->
              <el-form-item label="Description" prop="desc">
                <el-input
                  type="textarea"
                  v-model="ruleForm.desc"
                  placeholder="The description about dataset"
                ></el-input>
              </el-form-item>
              <!-- Source -->
              <el-form-item label="Source" prop="source">
                <el-input
                  v-model="ruleForm.source"
                  placeholder="data source / organization / Center of Excellence / Research Group "
                ></el-input>
              </el-form-item>
              <!-- Select category -->
              <el-form-item label="Category" prop="category">
                <el-select
                  v-model="ruleForm.category"
                  placeholder="Select category"
                >
                  <el-option
                    v-for="item in allCategory"
                    :key="item.categoryNumber"
                    :value="item.categoryNumber"
                    :label="item.categoryNumber + '. ' + item.categoryName"
                  ></el-option>
                </el-select>
              </el-form-item>
              <!-- Keyword -->
              <el-form-item label="Keyword">
                <el-tag
                  v-for="(tag, i) in ruleForm.dynamicTags"
                  :key="i"
                  closable
                  :disable-transitions="false"
                  @close="handleClose(tag)"
                >
                  {{ tag }}
                </el-tag>
                <el-input
                  class="input-new-tag"
                  v-if="taginputVisible"
                  v-model="taginputValue"
                  ref="saveTagInput"
                  size="mini"
                  @keyup.enter.native="handleInputConfirm"
                  @blur="handleInputConfirm"
                >
                </el-input>
                <el-button
                  v-else
                  class="button-new-tag"
                  size="small"
                  @click="showInput"
                  >+ New Tag
                </el-button>
              </el-form-item>
              <!-- Upload -->
              <el-form-item label="Upload">
                <el-radio
                  :value="true"
                  label="file"
                  v-model="ruleForm.upload"
                  border
                  size="small"
                >
                  Upload Files</el-radio
                >
                <el-radio
                  :value="false"
                  label="link"
                  v-model="ruleForm.upload"
                  border
                  size="small"
                  >Link / URL / API</el-radio
                >
              </el-form-item>
              <div v-if="ruleForm.upload === 'file'">
                <el-form-item>
                  <div
                    class="row"
                    style="
                      margin-bottom: 20px;
                      border: 1px solid #2ca8ff;
                      border-radius: 5px;
                      background-color: #f4faff;
                    "
                  >
                    <div class="col-md-12 pr-md-1">
                      <label>Upload Files (can select multiples files) </label
                      ><br />
                      <div v-if="files">
                        <input
                          id="file-upload"
                          type="file"
                          multiple
                          @change="uploadImage"
                        />
                        <div v-for="(image, key) in files" :key="key">
                          <el-row>
                            <el-col :span="10">
                              {{ key + 1 }}. {{ image.name }}
                            </el-col>
                            <el-col :span="1"
                              ><el-button
                                type="danger"
                                icon="el-icon-delete"
                                @click="removeImage(image, key)"
                                circle
                                size="small"
                              ></el-button
                            ></el-col>
                          </el-row>
                        </div>
                      </div>
                    </div>
                  </div>
                </el-form-item>
              </div>
              <div v-else>
                <!-- Link -->
                <el-form-item>
                  <div
                    class="row"
                    style="
                      border: 1px solid #2ca8ff;
                      border-radius: 5px;
                      background-color: #f4faff;
                    "
                  >
                    <div class="col-md-12 pr-md-1">
                      <label>Link/URL/API </label>
                      <el-row>
                        <el-col :span="2"> link 1 </el-col>
                        <el-col :span="20">
                          <el-input
                            v-model="ruleForm.link1"
                            placeholder="link/URL/API of the dataset"
                            style="margin: 0 0 20px 0"
                          ></el-input
                        ></el-col>
                      </el-row>
                      <el-row>
                        <el-col :span="2"> link 2 </el-col>
                        <el-col :span="20">
                          <el-input
                            v-model="ruleForm.link2"
                            placeholder="link/URL/API of the dataset"
                            style="margin: 0 0 20px 0"
                          ></el-input>
                        </el-col>
                      </el-row>
                    </div>
                  </div>
                </el-form-item>
              </div>

              <!-- Attribute -->
              <label> Attributes of dataset</label>
              <el-form-item
                class="linespace"
                v-for="(attr, i) in attributes"
                :key="attr.key"
                :label="'Attribute ' + (i + 1)"
              >
                <el-col :span="7">
                  <el-input
                    placeholder="Attribute Name"
                    v-model="attr.name"
                  ></el-input>
                </el-col>
                <el-col :span="10">
                  <el-input
                    placeholder="Attribute Description"
                    v-model="attr.description"
                  ></el-input>
                </el-col>
                <el-col :span="6">
                  <el-input
                    placeholder="Attribute Type"
                    v-model="attr.type"
                  ></el-input>
                </el-col>
                <i
                  class="arrtDel el-icon-delete"
                  type="button"
                  @click.prevent="removeAttr(attr)"
                  plain
                ></i>
              </el-form-item>
              <div class="text-right">
                <el-button
                  size="small"
                  icon="el-icon-circle-plus"
                  type="primary"
                  @click="addAttr"
                  plain
                  >Add</el-button
                >
              </div>
              <!-- Publishing -->
              <el-form-item label="Accessibility" prop="selectPublish">
                <div>
                  <el-radio
                    name="radio"
                    :value="true"
                    label="Private"
                    v-model="ruleForm.publish"
                    border
                    size="small"
                  />
                  <el-radio
                    name="radio"
                    :value="false"
                    v-model="ruleForm.publish"
                    label="Public"
                    border
                    size="small"
                  />
                </div>
              </el-form-item>
              <div v-if="ruleForm.publish === 'Private'">
                <!-- Email -->
                <el-form-item>
                  <div
                    class="row"
                    style="
                      margin-bottom: 20px;
                      border: 1px solid #2ca8ff;
                      border-radius: 5px;
                      background-color: #f4faff;
                    "
                  >
                    <div class="col-md-12 pr-md-1">
                      <label
                        >Allow User to download this data (CMU Account)</label
                      >
                      <el-form-item
                        class="linespace"
                        v-for="(email, index) in ruleForm.email"
                        :key="email.key"
                        :label="'Email ' + (index + 1)"
                      >
                        <el-col :span="18">
                          <el-input
                            v-model="email.mail"
                            placeholder="CMU Account (Email)"
                          ></el-input>
                        </el-col>
                        <i
                          class="arrtDel el-icon-delete"
                          type="button"
                          @click.prevent="removeEmail(email)"
                          plain
                        ></i>
                      </el-form-item>
                      <div class="text-right">
                        <el-button
                          size="small"
                          icon="el-icon-circle-plus"
                          type="primary"
                          @click="addEmail"
                          plain
                          >Add</el-button
                        >
                      </div>
                      <label
                        >Allow COE / Research Group to download this data</label
                      >
                      <el-form-item label="Name">
                        <el-select
                          v-model="ruleForm.category"
                          placeholder="Select COE / Research Group"
                        >
                          <el-option
                            value="กลุ่มวิจัยและพัฒนานวัตกรรมด้านเภสัชภัณฑ์"
                          >
                            กลุ่มวิจัยและพัฒนานวัตกรรมด้านเภสัชภัณฑ์
                            และผลิตภัณฑ์ธรรมชาติสำหรับมนุษย์หรือสัตว์
                          </el-option>
                          <el-option
                            value="ศูนย์วิจัยทางวิทยาศาสตร์สิ่งแวดล้อม"
                          >
                            ศูนย์วิจัยทางวิทยาศาสตร์สิ่งแวดล้อม
                          </el-option>
                          <!-- <el-option
                            v-for="item in allCategory"
                            :key="item.categoryNumber"
                            :value="item.categoryNumber"
                            :label="
                              item.categoryNumber + '. ' + item.categoryName
                            "
                          ></el-option> -->
                        </el-select>
                      </el-form-item>
                    </div>
                  </div>
                </el-form-item>
              </div>
              <div v-else>
                <el-form-item>
                  <div
                    class="row"
                    style="
                      margin-bottom: 20px;
                      border: 1px solid #2ca8ff;
                      border-radius: 5px;
                      background-color: #f4faff;
                    "
                  >
                    <div class="col-md-12 pr-md-12">
                      <div class="row justify-content-center">
                        The dataset can be disclosed to the public
                      </div>
                    </div>
                  </div>
                </el-form-item>
              </div>
              <!-- Button  -->
              <hr />
              <el-form-item>
                <div class="row justify-content-center">
                  <div class="col-10">
                    <el-button
                      type="primary"
                      @click="submitForm('ruleForm')"
                      style="width: 100%"
                    >
                      Save
                    </el-button>
                  </div>
                  <div class="col-2">
                    <el-button
                      @click="resetForm('ruleForm')"
                      style="width: 100%"
                      >Reset</el-button
                    >
                  </div>
                </div>
              </el-form-item>
            </el-form>
          </div>
        </div>
      </card>
    </div>
  </div>
</template>

<script>
import { Card } from "@/components";
import axios from "axios";
export default {
  name: "form_data",
  components: {
    Card,
  },
  props: {
    model: {
      type: Object,
      default: () => {
        return {};
      },
    },
  },
  data() {
    return {
      taginputVisible: false,
      taginputValue: "",
      selectPublish: false,
      allCategory: "",
      files: [],
      attributes: [
        {
          name: null,
          description: null,
          type: null,
        },
      ],
      ruleForm: {
        desc: "",
        name: "",
        category: "",
        publish: "Public",
        dynamicTags: [],
        email: [{ mail: "" }],
        link1: "",
        link2: "",
        upload: "file",
      },
      rules: {
        name: [
          {
            required: true,
            message: "Please input Data name",
            trigger: "change",
          },
          {
            min: 2,
            max: 250,
            message: "Length should be 2 to 250",
            trigger: "change",
          },
        ],
        desc: [
          {
            required: true,
            message: "Please input Description",
            trigger: "change",
          },
        ],
        source: [
          {
            required: true,
            message: "Please input source",
            trigger: "change",
          },
        ],
        category: [
          {
            required: true,
            message: "Please select category",
            trigger: "change",
          },
        ],
      },
    };
  },
  created() {
    axios
      .get("http://10.110.0.216:3000/api/category/all-name")
      .then((response) => {
        this.allCategory = response.data.data;
      });
  },
  methods: {
    // upload File
    uploadImage(e) {
      let selectedFiles = e.target.files;
      for (let i = 0; i < selectedFiles.length; i++) {
        this.files.push(selectedFiles[i]);
      }
      this.applyImage();
    },
    removeImage(image, index) {
      console.log(this.files);
      this.files.splice(index, 1);
      this.applyImage();
      //this.$refs.image[index].src = "" // You are hidding the 3rd one that is now in index 1.
    },
    applyImage() {
      for (let i = 0; i < this.files.length; i++) {
        let reader = new FileReader();
        reader.onload = (e) => {
          this.$refs.image[i].src = reader.result;
        };
        reader.readAsDataURL(this.files[i]);
      }
    },
    handleFilesUpload() {
      this.files = this.$refs.files.files;
      console.log(this.files);
    },

    // ruleForm //
    submitForm(formName) {
      // console.log("ruleForm", this.ruleForm);
      // console.log("attribute", this.attributes.length);
      this.$confirm("You have unsaved changes, save and proceed?", "Confirm", {
        distinguishCancelAndClose: true,
        confirmButtonText: "Save",
        cancelButtonText: "Discard Changes",
        type: "info ",
        center: true,
      })
        .then(() => {
          let formData = new FormData();
          // console.log("files", this.files);
          for (let i = 0; i < this.files.length; i++) {
            let file = this.files[i];
            formData.append("files[" + i + "]", file);
          }

          for (let i = 0; i < this.attributes.length; i++) {
            let attributes_name = this.attributes[i]["name"];
            let attributes_description = this.attributes[i]["description"];
            let attributes_type = this.attributes[i]["type"];

            formData.append("attributeName[" + i + "]", attributes_name);
            formData.append(
              "attributeDescription[" + i + "]",
              attributes_description
            );
            formData.append("attributeType[" + i + "]", attributes_type);
          }
          for (let i = 0; i < this.ruleForm.email.length; i++) {
            let allowUsers_name = this.ruleForm.email[i]["mail"];
            formData.append("allowUsers[" + i + "]", allowUsers_name);
          }
          for (let i = 0; i < this.ruleForm.dynamicTags.length; i++) {
            let dynamicTags = this.ruleForm.dynamicTags[i];
            formData.append("keyword[" + i + "]", dynamicTags);
          }          
          formData.append("user_id", sessionStorage.getItem("user_id"));
          formData.append("category_Number", this.ruleForm.category);
          formData.append("status", this.ruleForm.publish);
          formData.append("researchName", this.ruleForm.name);
          formData.append("description", this.ruleForm.desc);
          formData.append("email", sessionStorage.getItem("email"));
          formData.append("source", this.ruleForm.source);
          if (this.ruleForm.link1!=""){
            formData.append("links[0]", this.ruleForm.link1);
            console.log("1",this.ruleForm.link1);
          }
          if (this.ruleForm.link2!=""){
           formData.append("links[1]", this.ruleForm.link2);
           console.log("2",this.ruleForm.link2);
          }
          
          

          this.$refs[formName].validate((valid) => {
            if (valid) {                 
              axios
                .post(
                  "http://10.110.0.216:3000/api/research/create",
                  formData,
                  {
                    headers: {
                      "Content-Type": "multipart/form-data",
                    },
                  }
                )
                .then(function () {
                  console.log("SUCCESS!!");
                })
                .catch(function () {
                  console.log("FAILURE!!");
                });
            } else {
              console.log("error submit!!");
              return false;
            }
          });
          this.$notify({
            title: "Success",
            message: "Dataset uploaded successfully",
            type: "success",
          });
          this.$router.push("dashboard");
        })
        .catch((action) => {
          this.$message({
            type: "info",
            message:
              action === "cancel"
                ? "Changes discarded. Proceeding to a new route."
                : "Stay in the current route",
          });
        });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },

    // Tag //
    handleClose(tag) {
      this.ruleForm.dynamicTags.splice(
        this.ruleForm.dynamicTags.indexOf(tag),
        1
      );
    },
    showInput() {
      this.taginputVisible = true;
      this.$nextTick((_) => {
        this.$refs.saveTagInput.$refs.input.focus();
      });
    },
    handleInputConfirm() {
      let taginputValue = this.taginputValue;
      if (taginputValue) {
        this.ruleForm.dynamicTags.push(taginputValue);
      }
      this.taginputVisible = false;
      this.taginputValue = "";
    },
    // Attribute //
    removeAttr(item) {
      var index = this.attributes.indexOf(item);
      if (index !== -1) {
        this.attributes.splice(index, 1);
      }
    },
    addAttr() {
      this.attributes.push({
        key: Date.now(),
        name: "",
        desc: "",
        type: "",
      });
    },
    // Publishing //
    checkPublish() {
      if (this.selectPublish == true) {
        return (this.ruleForm.publish = "Public");
      }
      return (this.ruleForm.publish = "Private");
    },
    // Email //
    removeEmail(item) {
      var index = this.ruleForm.email.indexOf(item);
      if (index !== -1) {
        this.ruleForm.email.splice(index, 1);
      }
    },
    addEmail() {
      this.ruleForm.email.push({
        key: Date.now(),
        mail: "",
      });
    },
  },
};
</script>
<style scoped>
input {
  font-family: "Prompt";
}
input[type="file" i] {
  font-family: "Prompt";
}
::-webkit-file-upload-button {
  background: #2ca8ff;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 35px;
}
.section {
  padding: 115px 0 0;
}

/* Tag */
.el-tag + .el-tag {
  margin-left: 10px;
}

.button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}

.input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
}

/* Bin icon */
.arrtDel {
  margin-left: 10px;
  font-size: 16px;
  color: rgb(240, 98, 73);
}

/* Attr & Email new line */
.linespace {
  margin-bottom: 5px;
}
</style>