<template>
  <div>
    <div class="section section-user">
      <div class="container">
        <br /><br />
        <div class="row" style="margin-top: 40 px">
          <!-- Card User -->
          <div class="col-12 text-center">
            <card type="user">
              <p class="card-text"></p>
              <div class="photo-container">
                <img v-bind:src="pix" />
              </div>
              <h5 class="title">
                {{ user.prename_TH }} {{ user.name_TH }}
                <br />
                {{ user.prename_EN }} {{ user.name_EN }}
              </h5>
              <hr />
              <br />
              <el-form label-width="25%">
                <el-form-item label="ตำแหน่ง (Position) ">
                  <el-input :value="user.position" disabled></el-input>
                </el-form-item>
                <el-form-item label="ฝ่าย/ภาควิชา (Unit/Department)">
                  <el-input :value="unit_TH" disabled></el-input>
                </el-form-item>
                <el-form-item label="สังกัด (Organization)">
                  <el-input :value="organization_TH" disabled></el-input>
                </el-form-item>
                <el-form-item label="Email ">
                  <el-input :value="user.email" disabled></el-input>
                </el-form-item>
                <el-form-item label="COE/Research Group (1)">
                  <el-select
                    v-model="value1"
                    filterable
                    remote
                    reserve-keyword
                    placeholder="Please enter a keyword"
                    :remote-method="remoteMethod"
                    :loading="loading"
                    style="width: 100%"
                  >
                    <el-option
                      v-for="item in options"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    >
                    </el-option> </el-select
                ></el-form-item>
                <el-form-item label="COE/Research Group (2)">
                  <el-select
                    v-model="value2"
                    filterable
                    remote
                    reserve-keyword
                    placeholder="Please enter a keyword"
                    :remote-method="remoteMethod"
                    :loading="loading"
                    style="width: 100%"
                  >
                    <el-option
                      v-for="item in options"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    >
                    </el-option> </el-select
                ></el-form-item>
                <el-form-item>
                  <div class="row justify-content-center">
                    <div class="col-12">
                      <!-- <el-button
                        type="primary"
                        @click="submitForm('ruleForm')"
                        style="width: 100%"
                      > -->
                      <el-button type="primary" style="width: 100%">
                        Save
                      </el-button>
                    </div>
                  </div>
                </el-form-item>
              </el-form>

              <!-- <div slot="footer" class="button-container"></div> -->
            </card>
          </div>
        </div>
        <!-- <div class="separator separator-primary"></div> -->
      </div>
    </div>
  </div>
</template>
<script>
import TaskList from "./Dashboard/TaskList";
import axios from "axios";
import { Card, Button, FormGroupInput } from "@/components";
export default {
  name: "dashboard",
  bodyClass: "dashboard-page",
  components: {
    TaskList,
    Card,
    [Button.name]: Button,
    [FormGroupInput.name]: FormGroupInput,
  },

  data() {
    return {
      user: [],
      position: [],
      organization_TH: "",
      unit_TH: "",
      pix: [],
      count_data: [],
      info: [],
      options: "",
      value1: [],
      value2: [],
      list: [],
      loading: false,
      states: [
        "กลุ่มวิจัยด้านวิทยาศาสตร์อนามัยสิ่งแวดล้อมอาขีวอนามัย และโรคไม่ติดต่อเรื้อรัง",
        "กลุ่มวิจัยสุุขภาพช้างและสัตว์ป่า",
        "ศูนย์วิจัยด้านการจัดการภัยพิบัติธรรมชาติ",
        "กลุ่มวิจัยเภสัชระบาดวิทยาและสถิติ ",
        "ศูนย์วิจัยขั้นสูงด้านการจำลองเชิงคำนวณ",
      ],
    };
  },
  created() {
    // const token = "mUmntb7sJVYGYgDGBdjaPeYwegQhMsta";
    const eatery = JSON.parse(sessionStorage.getItem("accesstoken"));
    // console.log("eatery:", eatery);
    const token = eatery.access_token;
    // console.log("token:", token);

    const url = "http://10.110.0.216:3000/api/auth/dashboard/user";
    // console.log('access_token:');
    return axios
      .get(url, {
        headers: {
          Authorization: "Bearer " + token,
        },
      })
      .then((res) => {
        // this.user = res.data.user_detail
        console.log("data:", res.data.user_detail);
        this.user = res.data.user_detail;
        this.position = res.data.user_detail["position"];
        this.organization_TH = res.data.user_detail["organization_TH"];
        this.unit_TH = res.data.user_detail["unit_TH"];
        this.pix = "../img/" + this.user.prename_EN + "png";
        sessionStorage.setItem("user_id", this.user.user_id);
        sessionStorage.setItem("email", this.user.email);
      })
      .catch((error) => {
        console.log("error: " + error);
      });
  },
  mounted() {
    this.list = this.states.map((item) => {
      return { value: `value:${item}`, label: `${item}` };
    });
  },
  methods: {
    remoteMethod(query) {
      if (query !== "") {
        this.loading = true;
        setTimeout(() => {
          this.loading = false;
          this.options = this.list.filter((item) => {
            return item.label.toLowerCase().indexOf(query.toLowerCase()) > -1;
          });
        }, 200);
      } else {
        this.options = "";
      }
    },
  },
};
</script>
<style scoped>
.title {
  font-weight: 700;
  padding-top: 5px;
}

hr {
  margin: 5px 15px;
}
</style>
