<template>
  <div>
    <div class="section">
      <div class="container">
        <div class="row">
          <!-- <div class="col-md-3">
						<SidebarCatalog @sentNum="sentNum($event)" />
					</div> -->
          <div class="col">
            <router-view />
            <!-- <router-view :num="count" /> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Dashboard from "../researchers/dashboard.vue";
import Form from "../researchers/form.vue";
import Edit from "../researchers/Editform.vue";
import ProfileUser from "../researchers/profile.vue";

export default {
  name: "researchers",
  components: {
    Dashboard,
    Form,
    Edit,
    ProfileUser,
  },
  data() {
    return {
      // num: 111111,
      // count: 1
    };
  },
  created() {
    this.id = this.$route.params.id;
  },
  methods: {
    sentNum(e) {
      this.num = e;
    },
  },
};
</script>
<style></style>
