<template>
  <div>
    <div class="section section-user">
      <div class="container">
        <br /><br />
        <div class="row" style="margin-top: 40 px">
          <!-- Card User -->
          <div class="col-md-8 ml-auto mr-auto text-center">
            <card>
              <b>Access Denied !!! </b> <br />
              กรุณาติดต่อเจ้าหน้าที่เพื่อขอใช้บริการ
            </card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Card } from "@/components";
export default {
  name: "access",
  bodyClass: "dashboard-page",
  components: {
    Card,
  },
};
</script>
<style scoped></style>
