<template>
	<div id="app">
		<router-view name="header" />
		<div class="wrapper">
			<router-view />
		</div>
		<router-view name="footer" />
	</div>
</template>
<script>
	export default {};
</script>
<style>
	.carddataset .vs-card {
		max-width: 100% !important;
		margin-bottom: 15px;
		padding-bottom: 5px;
	}
	.vs-card-content.type-3 .vs-card__text {
		width: 100%;
	}
	.cardimg {
		width: 2.5em;
		margin-left: 5px;
	}
	.card-filetype p {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100%;
	}
	.keyword .btn-info.btn-simple {
		font-family: Prompt;
		margin-bottom: 0px;
	}
</style>
