<template>
  <div class="container"></div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      test: "หมดความหวังนั่งน้ำตาริน T^T",
      url: "",
      access_token: "",
      refresh_token: "",
      expires_in: "",
      err: "No Error Saddddd",
    };
  },
  created() {
    const form = new FormData();
    form.append("authorization_code", this.$route.query.authorization_code);
    console.log(this.$route.query.authorization_code);
    axios
      .request({
        method: "post",
        url: `http://10.110.0.216:3000/api/auth/get-token`,
        params: {
          authorization_code: this.$route.query.authorization_code,
        },
        headers: {
          "Content-Type": "multipart/form-data",
        },
      })
      .then((response) => {
        let data = response.data;
        sessionStorage.setItem(
          "accesstoken",
          JSON.stringify(response.data.detail)
        );
        console.log(data.success);
        if (data.success != "false") {
          this.$router.push("researcher/dashboard");
        } else {
          this.$router.push("/");
        }
      })
      .catch((error) => {
        this.err = error;
        console.log(error);
      })
      .finally(() => {});
  },
};
</script>

<style></style>
