<template>
  <table class="table table-striped table-bordered">
    <thead>
      <tr class="td-actions text-center">
        <th>Title</th>
        <th>File Type</th>
        <th>Public</th>
        <th>#Download</th>
        <th>Time Upload</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        v-for="data in datas['detail']"
        :key="data.id"
        class="td-actions text-center"
      >
        <td>{{ data.researchName }}</td>
        <td>{{ data.fileType }}</td>
        <td>{{ data.status }}</td>
        <td>{{ data.downloadCount }}</td>
        <td>{{ data.updated_at }}</td>
        <td class="td-actions text-center">
          <!-- <el-button > -->
          <router-link
            :to="{
              name: 'edit',
              query: { id: data.researchNumber },
            }"
          >
            <n-button type="success" round icon>
              <i class="fas fa-pencil-alt"></i>
            </n-button>
          </router-link>

          <!-- </el-button> -->
          <el-button type="text" @click="delete_data(data.researchNumber)">
            <n-button type="primary" round icon>
              <i class="far fa-trash-alt"></i>
            </n-button>
          </el-button>
        </td>
      </tr>
    </tbody>
  </table>
</template>
<script>
import { Button, FormGroupInput } from "@/components";
import { BaseTable } from "@/components";
import axios from "axios";
export default {
  props: {
    user: {
      type: Object,
      default: () => {
        return {};
      },
    },
  },
  components: {
    BaseTable,
    [Button.name]: Button,
    [FormGroupInput.name]: FormGroupInput,
  },
  data() {
    return {
      datas: [],
      user_id: this.user.user_id,
    };
  },
  computed: {},
  created() {
    this.fetchData();
    this.timer = setInterval(this.fetchData, 500);
    // this.$router.go(0);
  },
  methods: {
    async fetchData() {
      // console.log("user.user_id:", this.user.user_id);
      // console.log("userid--:", sessionStorage.getItem("user_id"));
      const url =
        "http://10.110.0.216:3000/api/research/byuser/" +
        sessionStorage.getItem("user_id");
      axios
        .request({
          method: "get",
          url: url,
        })
        .then((res) => {
          // console.log("data:", res.data);
          this.datas = res.data;
          this.cancelAutoUpdate();
        })
        .catch((error) => {
          // console.log("error: " + error);
        });
    },
    cancelAutoUpdate() {
      clearInterval(this.timer);
    },
    delete_data(researchNumber) {
      // console.log("id", researchNumber);
      const urldel =
        "http://10.110.0.216:3000/api/research/delete/" + researchNumber;
      this.$confirm(
        'Are you sure? Do you want to delete "your data set" ',
        "Delete",
        {
          confirmButtonText: "Delete",
          cancelButtonText: "Cancel",
          type: "warning",
        }
      )
        .then(() => {
          axios
            .delete(urldel, {
              params: {
                id: "1",
                email: "Admin@cmu.ac.th",
              },
            })
            .then((res) => {
              this.$message({
                type: "success",
                message: "Delete completed",
              });
              this.$router.go(0);
            })
            .catch((error) => {
              // console.log("error: " + error);
            });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "Delete canceled",
          });
        });
    },
  },
  beforeDestroy() {
    this.cancelAutoUpdate();
  },
};
</script>
<style></style>
