<template>
  <navbar
    class="main-navbar"
    position="fixed"
    type="info"
    menu-classes="ml-auto"
  >
    <div class="navbar-translate">
      <a class="navbar-brand" href="/">
        <i class="now-ui-icons shopping_box"></i> DATA CATALOG
      </a>
    </div>
    <template slot="navbar-menu">
      <li class="nav-item">
        <a class="nav-link" href="alldataset">
          <i class="now-ui-icons design_app"></i>
          <p>ชุดข้อมูล</p>
        </a>
      </li>
      <drop-down
        tag="li"
        title=" องค์กร "
        icon="now-ui-icons business_bank"
        class="nav-item"
      >
        <nav-link to="/organization">
          <i class="now-ui-icons education_paper"></i> คณะ
        </nav-link>
        <nav-link to="/not">
          <i class="now-ui-icons users_circle-08"></i> กลุ่มวิจัย
        </nav-link>
      </drop-down>
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="now-ui-icons shopping_shop"></i>
          <p>เอกสารเผยแพร่</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="now-ui-icons education_agenda-bookmark"></i>
          <p>ตัวอย่างการใช้ข้อมูล</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="now-ui-icons files_paper"></i>
          <p>ร้องขอชุดข้อมูล</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="now-ui-icons design_bullet-list-67"></i>
          <p>ถาม-ตอบ</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://10.110.0.216:3000/api/auth/cmu">
          <i class="now-ui-icons users_circle-08"></i>
          <p>Login</p>
        </a>
      </li>
    </template>
  </navbar>
</template>

<script>
import { DropDown, Navbar, NavLink } from "@/components";
import { Popover } from "element-ui";
export default {
  name: "main-navbar",
  props: {
    transparent: Boolean,
    colorOnScroll: Number,
  },
  components: {
    DropDown,
    Navbar,
    NavLink,
    [Popover.name]: Popover,
  },
};
</script>

<style scoped>
.main-navbar {
  background-color: #1c222d !important;
}
</style>
