<template>
  <navbar position="fixed" type="info" menu-classes="ml-auto">
    <div class="navbar-translate">
      <a class="navbar-brand" href="/researcher/dashboard">
        <i class="now-ui-icons shopping_box"></i> Dashboard
      </a>
    </div>
    <template slot="navbar-menu">
      <li class="nav-item">
        <a class="nav-link" href="/researcher/dashboard">
          <i class="now-ui-icons design_app"></i>
          <p>Dasboard</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/researcher/form">
          <i class="now-ui-icons education_agenda-bookmark"></i>
          <p>Create Dataset</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/researcher/profileuser">
          <i class="now-ui-icons education_agenda-bookmark"></i>
          <p>Profile</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="now-ui-icons users_circle-08"></i>
          <p>Logout</p>
        </a>
      </li>
    </template>
  </navbar>
</template>

<script>
import { DropDown, Navbar, NavLink } from "@/components";
import { Popover } from "element-ui";
export default {
  name: "main-navbar",
  props: {
    transparent: Boolean,
    colorOnScroll: Number,
  },
  components: {
    DropDown,
    Navbar,
    NavLink,
    [Popover.name]: Popover,
  },
};
</script>

<style scoped></style>
