<template>
	<footer
		class="footer"
		:class="{ [`footer-${type}`]: type }"
		:data-background-color="backgroundColor"
	>
		<div class="container text-center">
			<span>HPC Data Catalog Service - Chiang Mai University {{ year }}</span>
		</div>
	</footer>
</template>
<script>
	export default {
		props: {
			backgroundColor: String,
			type: String
		},
		data() {
			return {
				year: new Date().getFullYear()
			};
		}
	};
</script>
<style scoped>
	.footer {
		background-color: #1c222d;
	}
</style>
