<template>
  <navbar position="fixed" type="primary" menu-classes="ml-auto">
    <div class="navbar-translate">
      <a class="navbar-brand" href="/admin">
        <i class="now-ui-icons shopping_box"></i> Admin Dasboard
      </a>
    </div>
    <template slot="navbar-menu">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="now-ui-icons design_app"></i>
          <p>ชุดข้อมูล</p>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="now-ui-icons shopping_shop"></i>
          <p>เอกสารเผยแพร่</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="now-ui-icons files_paper"></i>
          <p>ร้องขอชุดข้อมูล</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="now-ui-icons design_bullet-list-67"></i>
          <p>ถาม-ตอบ</p>
        </a>
      </li>
    </template>
  </navbar>
</template>

<script>
import { DropDown, Navbar, NavLink } from "@/components";
import { Popover } from "element-ui";
export default {
  name: "main-navbar",
  props: {
    transparent: Boolean,
    colorOnScroll: Number,
  },
  components: {
    DropDown,
    Navbar,
    NavLink,
    [Popover.name]: Popover,
  },
};
</script>

<style scoped>
.main-navbar {
  background-color: #1c222d !important;
}
</style>
